<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%EC%88%98%EB%B0%95%EC%B1%85_%ED%95%9C%EB%88%88%EC%97%90%EB%B3%B4%EB%8A%94%EC%A0%84%ED%98%952025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
from tabulate import tabulate
import matplotlib.pyplot as plt
from tabulate import tabulate



##  데이터 부르기
path = '/content/drive/MyDrive/python/entrance/'
df = pd.read_excel(f'{path}subak_type_2025.xlsx')


# 수시합불자료 데이터 클리닝
df.columns = df.iloc[1]  # 두 번째 행을 열 이름으로 설정
df = df.drop([0, 1])      # 첫 두 행 삭제
df.reset_index(drop=True, inplace=True) # 인덱스 재설정

# 모든 값이 결측값인 열 삭제
df = df.dropna(axis=1, how='all')


# 필요한 열만 선택하여 새로운 데이터프레임 만들기
df = df[['대학', '모집 시기', '전형 유형', '전형', '모집 인원', '전형 방법', '수능최저학력기준']]


# 열 이름의 문자열 사이의 공백 제거
df.columns = df.columns.str.replace(' ', '')


# tabulate를 사용하여 결과 출력
print(tabulate(df.head(10), headers='keys', tablefmt='plain'))

    대학    모집시기    전형유형    전형                        모집인원    전형방법                 수능최저학력기준
 0  감신대  수시        교과        일반전형                    82          학생부80%+면접20%        X
 1  감신대  수시        교과        추천자                      25          학생부80%+면접20%        X
 2  감신대  수시        교과        사회적배려대상자            10          학생부80%+면접20%        X
 3  감신대  수시        교과        농어촌학생                  4           학생부80%+면접20%        X
 4  감신대  수시        교과        기초생활수급자및차상위계층  4           학생부80%+면접20%        X
 5  감신대  수시        교과        특수교육대상자              15          학생부80%+면접20%        X
 6  감신대  수시        교과        검정고시출신자              15          면접20%+검정고시성적80%  X
 7  감신대  수시        재외        재외국민과 외국인(2%)       3           면접100%                 X
 8  감신대  정시나      수능        일반학생                    22          수능80%+면접20%          X
 9  감신대  정시나      재외        재외국민과 외국인           제한X       면접100%                 X

In [42]:
# 입력 받은 대학과 모집시기에 따라 데이터프레임 필터링
uni = input('대학:')
recruitment_period = input("모집시기('수시', '정시가', '정시나', '정시다' 중 입력하세요): ")


if recruitment_period == '수시':
    filtered_df = df[(df['대학'].str.contains(uni)) & (df['모집시기'] == '수시')]
elif recruitment_period == '정시가':
    filtered_df = df[(df['대학'].str.contains(uni)) & (df['모집시기'].str.contains('정시가'))]
elif recruitment_period == '정시나':
    filtered_df = df[(df['대학'].str.contains(uni)) & (df['모집시기'].str.contains('정시나'))]
elif recruitment_period == '정시다':
    filtered_df = df[(df['대학'].str.contains(uni)) & (df['모집시기'].str.contains('정시다'))]
else:
    print("잘못된 모집시기 입력입니다.")
    filtered_df = pd.DataFrame()


# 결과 출력
if not filtered_df.empty:
    print("**************************************************************************************************************************************************************")
    print(tabulate(filtered_df.head(10), headers='keys', tablefmt='plain'))

대학:중앙대
모집시기('수시', '정시가', '정시나', '정시다' 중 입력하세요): 수시
**************************************************************************************************************************************************************
      대학    모집시기    전형유형    전형                          모집인원  전형방법                                                                                                                                    수능최저학력기준
1371  중앙대  수시        교과        지역균형                           500  학생부100%  ※ 고교 추천: 20명                                                                                                               ○
1372  중앙대  수시        종합        CAU융합형인재                      457  서류100%                                                                                                                                    X
1373  중앙대  수시        종합        CAU탐구형인재                      484  1단계)서류100%(3.5배수, 다빈치캠(‘시스템생명공학과’ 제외): 2.5배수)                                                                         X
                                                                              2단계)서류70%+면접30%
1374  중앙대  수시        종합        CAU어울림                           20  서류100%                                                                                                                                    X
1375  중앙대  수시        종합        농어촌학생                         139  서류100%                                                                                                                                    X
1376  중앙대  수시        종합        기초생활수급자및차상위계층          73  서류100%                                                                                                                                    X
1377  중앙대  수시        종합        장애인등대상자                       8  서류100%                                                                                                                                    X
1378  중앙대  수시        종합        특성화고졸재직자                   232  서류100%                                                                                                                                    X
1379  중앙대  수시        논술        논술전형                           478  학생부30%+논술70%                                                                                                                           ○
1380  중앙대  수시        실기/실적   실기형                             358  ‣공연영상창작학부                                                                                                                           X
                                                                              • 연극(연기,뮤지컬연기)                                                                                                                     (문예창작, 사진○)
                                                                              : 1단계)실기100%(8배수) 2단계)학생부20%+실기80%
                                                                              • 공간연출
                                                                              : 1단계)학생부20%+실기80%(5배수) 2단계)1단계70%+실기30%
                                                                              • 문예창작: 1단계)학생부100%(7배수) 2단계)학생부20%+실기80%
                                                                              ‣디자인학부: 1단계)학생부100%(20배수) 2단계)학생부20%+실기80%
                                                                              ‣글로벌예술학부(TV방송연예)
                                                                              : 1단계)비대면실기100%(7배수) 2단계)학생부20%+실기80%
                                                                              ‣공연영상창작학부(영화, 무용, 사진), 미술학부, 음악학부, 전통예술학부, 글로 벌예술학부(실용음악, 게임콘텐츠애니메이션), 스포츠과학부(골프)
                                                                              : 학생부20%+실기80%

In [34]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
from tabulate import tabulate
import matplotlib.pyplot as plt
from tabulate import tabulate



##  데이터 부르기
path = '/content/drive/MyDrive/python/entrance/'
df = pd.read_excel(f'{path}subak_type_2025.xlsx')

#print(df.head(10))
df.shape

(5140, 74)