<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%82%BC%ED%95%99%EB%85%84%EC%84%A4%EB%AC%B8%EC%A7%80%EB%AC%B8%ED%95%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#완성코드: 복수정답까지 처리

import pandas as pd

# 1. 엑셀 파일 불러오기
path = '/content/drive/MyDrive/python/eunpyeong/2025/'
df = pd.read_excel(f'{path}thirdyear_questionaire_beforecleaning.xlsx')


# 2. 복수응답 처리 함수 정의
def map_multiple_answers(cell, mapping):
    if pd.isna(cell):  # 결측값 처리
        return None
    try:
        items = [int(i.strip()) for i in str(cell).split(',')]
        mapped = [mapping.get(i, str(i)) for i in items]
        return ', '.join(mapped)
    except:
        return cell  # 예외 발생 시 원래 값 반환


# 3. 매핑 사전 정의
gender_map = {1: '남', 2: '여'}
region_map = {1: '은평구', 2: '서대문구', 3: '기타'}
major_map = {1: '인문계열', 2: '사회과학계열', 3: '자연계열,', 4: '의학계열', 5: '예체능계열', 6: '사범계열', 7: '기타'}
admission_map = {1: '수시', 2: '정시'}
afterschool_map = {1: '학원', 2: '과외', 3: '인터넷강의', 4: '기타', 5: '받지않음'}
sns_map = {1: '인스타그램', 2: '카카오톡', 3: '페이스북', 4: '기타'}
trustee_map = {1: '친구', 2: '부모', 3: '교사'}
sleep_map = {1: '12시전', 2: '12~1시', 3: '1~2시', 4: '2~4시', 5: '4시이후'}
workout_map = {1: '아니오', 2: '예'}
stresscontrol_map = {1: '아니오', 2: '예'}
afterlife_map = {1: '아니오', 2: '예'}
phonecontrol_map = {1: '아니오', 2: '예'}
closefriend_map = {1: '아니오', 2: '예'}
boygirlfriend_map = {1: '아니오', 2: '예'}
schoolpride_map = {1: '아니오', 2: '예'}
jobselection_map = {1: '경제적이익', 2: '명예', 3: '사회봉사,', 4: '기타'}
favoritesubject_map = {1: '국어', 2: '수학', 3: '영어,', 4: '사탐', 5: '과탐', 6: '음악', 7: '미술,', 8: '체육', 9: '정보,', 10: '기타'}
middleschool_map = {1: '구산중', 2: '은평중', 3: '덕산중,', 4: '예일여중', 5: '기타'}
apply_map = {1: '아니오', 2: '예'}
willtouni_map = {1: '예', 2: '아니오'}
sibllings_map = {1: '외동', 2: '형누나등있음', 3: '동생있음'}
unilevel_map = {
    1: '메디컬계열', 2: '서연고', 3: '서성한,', 4: '중경외시이', 5: '건동홍숙', 6: '국숭세과', 7: '광명상가',
    8: '기타인서울대', 9: '경기도권대,', 10: '지거국', 11: '지방사립대', 12: '전문대,', 13: '특수목적대학', 14: '미진학'
}

# 4. 단일응답 처리
df['성별'] = df['성별'].map(gender_map)
df['거주지'] = df['거주지'].map(region_map)
df['수시정시'] = df['수시정시'].map(admission_map)
df['SNS'] = df['SNS'].map(sns_map)
df['신뢰하는이'] = df['신뢰하는이'].map(trustee_map)
df['취침시간'] = df['취침시간'].map(sleep_map)
df['운동여부'] = df['운동여부'].map(workout_map)
df['스트레스조절여부'] = df['스트레스조절여부'].map(stresscontrol_map)
df['방과후만족여부'] = df['방과후만족여부'].map(afterlife_map)
df['스마트폰조절여부'] = df['스마트폰조절여부'].map(phonecontrol_map)
df['고민친구여부'] = df['고민친구여부'].map(closefriend_map)
df['이성친구여부'] = df['이성친구여부'].map(boygirlfriend_map)
df['학교자부심여부'] = df['학교자부심여부'].map(schoolpride_map)
df['졸업중학교'] = df['졸업중학교'].map(middleschool_map)
df['은평고지원여부'] = df['은평고지원여부'].map(apply_map)
df['대학진학의사'] = df['대학진학의사'].map(willtouni_map)
df['형제관계'] = df['형제관계'].map(sibllings_map)
df['대학'] = df['대학'].map(unilevel_map)


# 5. 복수응답 처리
df['방과후수업'] = df['방과후수업'].apply(lambda x: map_multiple_answers(x, afterschool_map))
df['직업선택이유'] = df['직업선택이유'].apply(lambda x: map_multiple_answers(x, jobselection_map))



# 5. 결과 확인 (옵션)
print(df[['성별', '대학', '계열', '내신등급', '수시정시', '방과후수업', '직업선택이유']].head())

# 6. 결과 저장

df.to_excel(f'{path}thirdyear_questionaire.xlsx', index=False)

  성별      대학  계열  내신등급 수시정시      방과후수업     직업선택이유
0  남  특수목적대학   4     7   정시         학원         기타
1  여    광명상가   2     5   정시  과외, 인터넷강의  경제적이익, 명예
2  남    광명상가   1     5   정시  학원, 인터넷강의      경제적이익
3  남     미진학   3     7   수시         학원         기타
4  여  특수목적대학   3     6   정시     학원, 과외         기타

In [30]:
# 방법1: '방과후수업' 열의 값별 빈도 계산
frequency = df['방과후수업'].value_counts()

print(frequency)

방과후수업
학원, 인터넷강의        25
받지않음             22
학원               18
기타                6
인터넷강의             4
학원, 과외, 인터넷강의     4
과외, 인터넷강의         2
학원, 과외            2
과외                1
Name: count, dtype: int64

In [33]:
#방법2: groupby를 이용한 빈도 계산
# 방법2: groupby를 이용한 빈도 계산
grouped = df.groupby('방과후수업').size().sort_values(ascending=False)
print(grouped)

방과후수업
학원, 인터넷강의        25
받지않음             22
학원               18
기타                6
학원, 과외, 인터넷강의     4
인터넷강의             4
과외, 인터넷강의         2
학원, 과외            2
과외                1
dtype: int64

In [34]:
# 방법2: groupby를 이용한 빈도 계산
grouped = df.groupby('직업선택이유').size().sort_values(ascending=False)
print(grouped)

직업선택이유
기타              27
경제적이익           21
경제적이익, 명예       13
명예, 기타           7
명예               6
경제적이익, 기타        4
명예, 사회봉사,        4
경제적이익, 사회봉사,     2
dtype: int64

In [37]:
#직업선택이유의 서술형 응답 내용과 빈도 분석
df['ques_19 (보기 4번 서술)'].value_counts()

ques_19 (보기 4번 서술)
모름                                                        1
운동하는걸 좋아해서                                                1
비공개                                                       1
배우고 싶기 때문입니다.                                             1
체육을 좋아하기 때문이다                                             1
나의 행복(부업)                                                 1
사회를 좋아하고 국수영 중에는 수학을 좋아해서 수학,사회를 다 결합하고 있는 경영쪽을 선택하게 됨    1
재밌을것같다                                                    1
편집에 관심이 많음.                                               1
흥미                                                        1
부모님 도움                                                    1
태권도가 좋아서                                                  1
어릴 때부터 컴퓨터 자격증을 따는 등 미디어와 가장 오래 접해있었기 때문에 선택했습니다.         1
진심으로 좋아해서                                                 1
내가 잘 할 것 같은 일                                             1
원래 노래를 좋아했어서                                              1
재밌을 거 같고 멋있어서                                             1
관심이 있고 재밌을거같아서                                            1
나의 즐거움                                                    1
없음                                                        1
내가 좋아하는 것 이라서                                             1
영향                                                        1
그냥 하고 싶어서                                                 1
내가 하고싶은 일을 하는 게 꿈이여서                                      1
행복                                                        1
재미를 주고 싶어서                                                1
사람들을 많이 만나고 싶어서                                           1
Name: count, dtype: int64

In [32]:
#get 함수 사용 예시
mapping = {1: '사과', 2: '바나나'}
items = [1, 2, 3]

mapped = [mapping.get(i, str(i)) for i in items]
print(mapped)

['사과', '바나나', '3']