<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%ED%95%A9%EB%B6%88%EC%82%B0%EC%B6%9C%ED%86%B5%ED%95%A9_D%EA%B3%A0RPA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
import os
import openpyxl
import csv

##  데이터 부르기 : 구글colab에 마운트(mount)하는 방법: 왼쪽 폴더아이콘을 누르기-눈동자 왼쪽 파일마운트 아이콘 클릭- /content/drive/MyDrive/python폴더의 susi_2021simple.csv파일을 불러옴
path = '/content/drive/MyDrive/python/deungchon/'
df = pd.read_csv(f'{path}susi_jsi.csv', encoding = 'cp949')
#df = pd.read_csv(f'{path}susi_jsi_noname.csv', encoding = 'cp949')

# 첫 5줄을 봅니다.
df.head(1)

In [ ]:
#합격자 순서
#1.의치한약수 - 2.서울주요대(15개) - 3.특수대 - 4.인서울대(서울주요대 제외한 4년제) - 5.경기소재대

In [ ]:
#1.의치한약수(ex: 의학 등) 합격자 명단 찾기
df_의치한약수 = df['모집단위'].str.contains('^[의치한약수]예+')
subset_df = df[df_의치한약수]
subset_df_p = subset_df[(subset_df.최종 == '합')]
subset_df_p = subset_df_p[['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균', '백분위_평균', '표점합']]
print("***2023학년도 등촌고 의치한약수 합격자 명단***")
print(subset_df_p)
print("--------------------------------------------------------------------")
print("2023학년도 D고 의치한약수 합격자는 %d명입니다(복수합격 포함)." % len(subset_df_p))


#데이터 프레임으로 전환
subset_df_p = pd.DataFrame(subset_df_p)

#결과를 엑셀로 저장
subset_df_p.to_excel(excel_writer= '/content/drive/MyDrive/python/deungchon/result_d/medical.xlsx')

In [ ]:
#2.서울 주요대(15개대) 합격자 명단 및 합격건수

import os
import pandas as pd

uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '중앙대', '경희대', '한국외대', '서울시립대', '이화여대', '건국대', '동국대', '홍익대', '숙명여대']

print("***2023학년도 서울 주요대학 수시합격자 명단***\n")

# Create an empty DataFrame to store the results
df_result = pd.DataFrame()

for u in range(len(uni)):
    df_u = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    print("%s 대학 합격자" % uni[u])
    df_u = df_u[['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균', '백분위_평균']]
    print(df_u)
    print("----------------------------------------------------------------------------------")

    # Append the results to the df_result DataFrame
    df_result = pd.concat([df_result, df_u])

# Save the results to an Excel file
if not os.path.exists('/content/drive/MyDrive/python/deungchon/result_d/uni_main.xlsx'):
    df_result.to_excel('/content/drive/MyDrive/python/deungchon/result_d/uni_main.xlsx', index=False, header=True)
else:
    df_result.to_excel('/content/drive/MyDrive/python/deungchon/result_d/uni_main.xlsx', index=False, header=True)

# 서울 주요대학 수시합격자수 출력
print("\n***2023학년도 D고 합격건수***")

total_accepted = 0  # Variable to store the total number of accepted students

for u in range(len(uni)):
    df_u = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df_u = df_u[['학번', '대학', '최종']]
    accepted_count = len(df_u['대학'])
    total_accepted += accepted_count
    print(uni[u], str(accepted_count) + "건")

print("\n총 합격자 수:", total_accepted, "건")

In [ ]:
#3.특수대 합격자 명단 출력
sp = ['경찰대', '육군사관학교', '해군사관학교', '공군사관학교', '국군간호사관학교', '광주과학기술원', '대구경북과학기술원', '울산과학기술대학교', '한국과학기술원', '한국예술종합학교']

# Create an empty DataFrame to store the results
df_result = pd.DataFrame()

print("***2023학년도 등촌고 특수대 합격자 명단***\n")
for u in range(len(sp)):
    df_특수대 = df[(df.대학 == sp[u]) & (df.최종 == '합')]
    df_특수대 = df_특수대[['수시정시', '학번', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균' ]]
    print("%s 대학 합격자" % sp[u])
    #print("{} 대학 합격자는 {}명" .format(sp[u] len(df_특수대)))
    print(df_특수대)
    print("--------------------------------------------------------")

# Append the results to the df_result DataFrame
    df_result = pd.concat([df_result, df_특수대])


# Save the results to an Excel file
if not os.path.exists('/content/drive/MyDrive/python/deungchon/result_d/uni_sp.xlsx'):
    df_result.to_excel('/content/drive/MyDrive/python/deungchon/result_d/uni_sp.xlsx', index=False, header=True)
else:
    df_result.to_excel('/content/drive/MyDrive/python/deungchon/result_d/uni_sp.xlsx', index=False, header=True)


# 특수대 합격자수
print("\n***2023학년도  D고 특수대 합격자수***")

sp = ['경찰대', '육군사관학교', '해군사관학교', '공군사관학교', '국군간호사관학교', '광주과학기술원', '대구경북과학기술원', '울산과학기술대학교', '한국과학기술원', '한국예술종합학교']

for u in range(len(sp)):
    df_특수대 = df[(df.대학 == sp[u]) & (df.최종 == '합')]
    df_특수대 = df_특수대[['학번', '대학', '모집단위', '전형분류', '최종']]
print("2023학년도 등촌고 특수대 수시합격자수는 %d명입니다." % len(df_특수대))

In [ ]:
#4. 인서울대 합격자 명단: 서울 주요대(15개대 - ace리스트)와 전문대를 제외

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/python/deungchon/susi_jsi.csv', encoding = 'cp949')

#4가지 조건(지역, 최종, ace대학 제외, 전문대학 제외)으로 검색

#14개 서울주용대학 리스트
ace = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대', '중앙대', '경희대', '한국외대', '서울시립대', '건국대', '동국대', '홍익대']


#4가지 조건
seoul_df = df[(df.지역 == '서울') & (df.최종 == '합') & ~(df.대학.isin(ace)) & ~(df.대학.str.contains("대학"))]


#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균']]
#print(seoul_df)
print(seoul_df)


#인서울대 합격자수
print("\n---------------------------------------------------------------------------------------")
print("2023학년도  D고 14개 서울주요대와 전문대를 제외한 인서울 수시합격자수는 %d건입니다.(중복합격 포함)" % len(seoul_df))


#데이터 프레임으로 전환
seoul_df_p = pd.DataFrame(seoul_df)

#결과를 엑셀로 저장
seoul_df_p.to_excel(excel_writer= '/content/drive/MyDrive/python/deungchon/result_d/inseoul.xlsx')

In [ ]:
#5.경기지역 대학 합격자 명단

#라이브러리
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/python/deungchon/susi_jsi.csv', encoding = 'cp949')


#(지역, 최종)으로 검색
kg_df = df[(df.지역 == '경기') & (df.최종 == '합') & ~(df.대학.str.contains("대학교"))]
kg_df


#필요한 변수(열)만 불러옴
kg_df = kg_df[['수시정시', '지역', '학번', '이름', '대학', '모집단위', '최종', '내신_전과목', '등급_평균', '전형분류']]
#print(seoul_df)
print(kg_df)


#경기지역 합격자수
print("\n---------------------------------------------------------------------------------------")
print("2023학년도  D고 경기지역 대학 합격자수는 %d건입니다.(중복합격 포함)" % len(kg_df))


#데이터 프레임으로 전환
kg_df_p = pd.DataFrame(kg_df)

#결과를 엑셀로 저장
kg_df_p.to_excel(excel_writer= '/content/drive/MyDrive/python/deungchon/result_d/kg.xlsx')

In [ ]:
# 인서울 및 경기지역 4년제 대학 합격자 명단 - 서울 주요대(ace리스트)를 제외

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/python/deungchon/susi_jsi.csv', encoding = 'cp949')


#3가지 조건(지역, 최종, ace대학 제외, 전문대학 제외)으로 검색
ace = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대', '중앙대', '경희대', '한국외대', '서울시립대', '건국대', '동국대', '홍익대']
city = ['서울', '경기']

#지역, 최종, ace대학 제외
seoul_df = df[(df.지역.isin(city)) & (df.최종 == '합') & ~(df.대학.isin(ace)) & ~(df.대학.str.contains("대학교"))]
seoul_df


#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['수시정시', '지역', '학번', '이름', '대학', '모집단위', '최종', '내신_전과목', '등급_평균']]


#합격자수
print("\n---------------------------------------------------------------------------------------")
print("2023학년도  D고 서울주요대를 제외한 인서울대와 경기지역 대학 합격자수는 %d건입니다.(중복합격 포함)" % len(seoul_df))


#데이터 프레임으로 전환
seoul_df_p = pd.DataFrame(seoul_df)

#결과를 엑셀로 저장
seoul_df_p.to_excel(excel_writer= '/content/drive/MyDrive/python/deungchon/result_d/inseoul_kg.xlsx')

In [ ]:
#특정 백분위 구간의 점수별 빈도(ex: 80~85%사이의 빈도수)
mx = int(input("이상:"))
mi = int(input("미만:"))


# mx이상 mi이하 조건을 충족하는 객체 만들기
df_interval = df[(df.백분위_평균 >= mx) & (df.백분위_평균 < mi)]

# value_counts()로 빈도를 세고, sort_index() 기준으로 정렬!
list_1 =  df_interval["백분위_평균"].value_counts().sort_index()
print(list_1)
print("------------------------------")
#print(str(len(list_1))+"명")

print("{}이상 {}미만 :{}명".format(mx, mi, len(df_interval)))
#자료 https://stackoverflow.com/questions/43855474/changing-sort-in-value-counts8

#tabulate 라이브러리 표 옵션
##from tabulate import tabulate
The tabulate function in the tabulate library provides various table formats for displaying tabular data. Here are some commonly used tablefmt options:

"plain": Simple plain-text table format.
"simple": A simplified version of the plain table format.
"grid": Tables with grid lines.
"fancy_grid": Tables with rounded corners and grid lines.
"pipe": Tables using pipe characters for borders.
"orgtbl": Tables using the Emacs org-mode table format.
"jira": Tables using the Jira wiki table format.
"presto": Tables using the Presto Markdown table format.
"pretty": Tables with a customizable layout and formatting.
"psql": Tables in the style of PostgreSQL command-line interface.
"rst": Tables using the reStructuredText table format.
"mediawiki": Tables using the MediaWiki table format.
"html": Tables as HTML markup.

In [ ]:
from tabulate import tabulate
import pandas as pd

uni = input("지원횟수가 궁금한 대학:")

# Find strings containing the input 'uni' in '대학' column
df_대학 = df['대학'].str.contains(uni, regex=False)

# 지방캠퍼스 대학 제외 ex)동국대(경주)
df_대학 = df_대학 & ~df['대학'].str.contains('[()]+', regex=True)

subset_df = df[df_대학]
subset_df_p = subset_df[(subset_df['최종'] == '합') | (subset_df['최종'] == '불')]
subset_df_p = subset_df_p[['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균']]
subset_df_p_applicants = len(subset_df_p)

# Convert DataFrame to a list of lists for tabulate
table_data = subset_df_p.values.tolist()

# Define the table headers
table_headers = ['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균']

# Format the columns '내신_전과목' and '등급_평균' with two decimal places
table_data_formatted = []
for row in table_data:
    formatted_row = row[:7]  # Copy the first 7 columns as-is
    formatted_row.append(f"{row[7]:.2f}")  # Format '내신_전과목' with two decimal places
    formatted_row.append(f"{row[8]:.1f}")  # Format '등급_평균' with two decimal places
    table_data_formatted.append(formatted_row)

# Create the formatted table using tabulate
table_string = tabulate(table_data_formatted, headers=table_headers, tablefmt='plain')

print(table_string)
print(f"\n{uni}대 지원횟수는 총 {subset_df_p_applicants}건입니다.")

In [ ]:
#지원자수가 궁금한 대학 파악: 이름 중 세번째 글자가 익명(별표시) 되는 코드 - 결과를 정렬해서 보여주기

import pandas as pd
from tabulate import tabulate

uni = input("지원횟수가 궁금한 대학:")

# Find strings containing the input 'uni' in '대학' column
df_대학 = df['대학'].str.contains(uni, regex=False)
#df_대학 = df[(df.대학 == uni)] #이 코드를 쓰면 다음 라인에서 boolean과 string을 비교하기 때문에 에러발생

# 지방캠퍼스 대학 제외 ex)동국대(경주)
df_대학 = df_대학 & ~df['대학'].str.contains('[()]+', regex=True)

subset_df = df[df_대학]
subset_df_p = subset_df[(subset_df['최종'] == '합') | (subset_df['최종'] == '불')]

# Show first two letters and replace the third letter with an asterisk in '이름' column
subset_df_p['이름'] = subset_df_p['이름'].apply(lambda x: x[:2] + '*' + x[3:] if len(x) >= 3 else x[:2])

# Select the desired columns and assign them to a new DataFrame
subset_df_p = subset_df_p[['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균']]
subset_df_p_applicants = len(subset_df_p)

# Convert DataFrame to a list of lists for tabulate
table_data = subset_df_p.values.tolist()

# Define the table headers
table_headers = ['수시정시', '학번', '이름', '대학', '모집단위', '전형분류', '최종', '내신_전과목', '등급_평균']

# Create the formatted table using tabulate
table_string = tabulate(table_data, headers=table_headers, tablefmt='plain')

print(table_string)
print(f"\n{uni}대 지원횟수는 총 {subset_df_p_applicants}건입니다.")

In [ ]:
#전체 합격자: 중복 합격포함 : 134건
df_pass = df[df.최종 == '합']
print(df_pass.count())

#수시, 정시별 합격건수: 수시(123건), 정시(11건)
df_pass.groupby(['수시정시']).count()

In [ ]:
#중복합격자 제외
df_pass['학번'].unique()

#중복합격자수 제외한 합격자수: 71명
df_pass['학번'].nunique()

In [ ]:
#이름으로 백분위 점수 조회
name = input("이름:")
df_name = df[(df.이름 == name)]
df_name = df_name[['학번', '이름', '대학',  '모집단위', '최종', '전형분류', '내신_전과목', '등급_평균', '등급_평균', '표점합', '백분위_평균']]
df_name

In [ ]:
#반 입력해서 해당반 학생들 출력하기 ex)302
num = input("학년반 ex)301: ")
df_num = df[df['학번'].astype(str).str.contains(num)]
df_num = df_num[['학번', '이름', '대학', '모집단위', '내신_전과목', '등급_평균', '백분위_평균']]
df_num

In [ ]:
name = input("이름:")
df_ascend = df.sort_values('내신_전과목', ascending=True)
df_ascend = df_ascend[(df_ascend.이름 == name)]
print(df_ascend)

# 이름을 입력하여 내신기준 석차를 출력하는 코드 설명

1)* df[df['내신_전과목'] < df_filtered['내신_전과목'].iloc[0]]* selects rows from the DataFrame where the "내신_전과목" value is lower than the "내신_전과목" value of the student whose name was input by the user. This creates a filtered DataFrame that includes all students who have a lower "내신_전과목" value than the input student.


2) *.groupby('이름')['내신_전과목']* groups the filtered DataFrame by the "이름" column and selects the "내신_전과목" column. This creates a Series object that contains the "내신_전과목" values of all the students who have a higher "내신_전과목" value than the input student, grouped by name.


3) *.nunique()* counts the number of unique "내신_전과목" values in the grouped Series. This effectively counts the number of students who have a higher "내신_전과목" value than the input student, excluding any duplicates.

4) *.sum()* adds up the counts of unique "내신_전과목" values for all the groups. This gives the total number of students who have a higher "내신_전과목" value than the input student, excluding duplicates.

5)* + 1* adds 1 to the total count to get the rank of the input student, since the rank is equal to the number of students with a higher "내신_전과목" value plus 1.

6) Finally, the rank is assigned to the rank variable and returned as the output of the program.

In [ ]:
#이름으로 해당 학생의 전체 석차를 확인: 아름다운 코드 A - 복잡한 코드
# Get input name
name = input("이름:")

# Filter DataFrame to only include rows with the input name
df_filtered = df[df['이름'] == name]

# Calculate rank of first row in filtered DataFrame
rank = (df[df['내신_전과목'] < df_filtered['내신_전과목'].iloc[0]].groupby('이름')['내신_전과목'].nunique().sum()) + 1

# Print the result
print(f"{name}의 '내신_전과목' 등수는 {rank}등 입니다.")

In [ ]:
#이름으로 해당 학생의 전체 석차를 확인: 아름다운 코드 B - 단순한 코드

# Get input name
name = input("이름:")

# Filter DataFrame to only include rows with the input name
df_filtered = df[df['이름'] == name]

# Calculate rank of first row in filtered DataFrame
rank = df[df.내신_전과목 < df_filtered.내신_전과목.iloc[0]]
rank = rank.groupby('이름')['내신_전과목'].nunique().sum() + 1

# Print the result
print(f"{name}의 '내신_전과목' 등수는 {rank}등 입니다.")

In [ ]:
df_sorted = df.sort_values('내신_전과목', ascending=True)

#unique based on "이름"
df_filtered = df_sorted.drop_duplicates('이름')
print(df_filtered)

In [ ]:
rank_list = sorted(list(df['내신_전과목']), reverse=False)
print(rank_list)

In [ ]:
#대학으로 과목별 등급과 등급_평균 조회
name = input("대학:")
df_name = df[(df.대학 == name) & (df.최종 == '합')]
df_name = df_name[['학번', '이름', '대학',  '모집단위', '최종', '전형명', '전형분류','내신_전과목', '백분위_평균', '표점합', '전형방법', '전형종류', '모집인원']]
df_name

In [ ]:
#학번으로 백분위 점수 조회
code = int(input("학번:"))
df_code = df[(df.학번 == code)]
df_code = df_code[['학번', '이름', '대학',  '모집단위', '최종', '등급_평균']]
df_code

In [ ]:
df_환보 = df[df['모집단위'].str.contains('보건+')]
print(df_환보)

In [ ]:
#대학유형 지원율: 4년제 80% vs. 전문대 20%
#수시정시, 대학유형별 지원빈도
df.groupby(['수시정시', '대학유형']).count()

In [ ]:
mi = int(input("영어 수능등급:"))
df_interval = df[(df.등급_영어 == mi)]
df_interval[['학번', '등급_영어']]
df_interval_unique = df_interval['학번'].unique().size
print("영어 수능등급 {}명".format(df_interval_unique))

In [ ]:
# D고 작년 고3 수능 백분위평균: 백분위 44%!
df_percentile = df.dropna(subset = ['백분위_평균'])
p_mean = df_percentile['백분위_평균'].mean()
print(p_mean)

In [ ]:
# D고 작년 고3 수능 표점 평균:
df_standard = df.dropna(subset = ['표점합'])
s_mean = df_standard['표점합'].mean()
print(s_mean)

In [ ]:
name = input("이름의 일부:")
df_pname = df['이름'].str.contains(name)
df_pname_sub = df[df_pname]
df_pname_sub[['학번', '이름', '대학', '모집단위', '수시정시', '최종', '내신_전과목', '백분위_평균', '표점합', '모집인원', '전형분류', '전형종류']]

In [ ]:
#D고 내신 4등급 이하 학생 중 수능이 내신보다 더 잘 나온 학생 비율
# Filter the DataFrame
filtered_df = df[ (df['내신_전과목'] <= 4) & (df['내신_전과목'] > df['등급_평균'])]
filtered_df = filtered_df.drop_duplicates(subset='이름')

# Print the filtered DataFrame
print(filtered_df[['이름', '내신_전과목', '등급_평균']])

In [ ]:
#수능이 내신보다 더 잘 나오는 학생

# Filter the DataFrame
filtered_df = df[df['내신_전과목'] > df['등급_평균']]
filtered_df = filtered_df.drop_duplicates(subset='이름')


# Round the '내신_전과목' column to two decimal places
filtered_df['내신_전과목'] = filtered_df['내신_전과목'].apply(lambda x: round(x, 1))

filtered_df_total = df.drop_duplicates(subset='이름')
filtered_df_num = len(filtered_df_total)
filtered_df_num_div = (len(filtered_df) / filtered_df_num)*100
filtered_df_num_div = round(filtered_df_num_div, 1)


# Print the filtered DataFrame
print(filtered_df[['내신_전과목', '등급_평균']])
print("-----------------------------------------------------")
print('D고 2023학년도 고3의 수능등급이 내신등급보다 높게 나온 학생 {}명이고 비율은 {}%입니다.'.format(len(filtered_df), filtered_df_num_div))

In [ ]:
#내신 3등급이상 중 수능에서 1등급 이상 상승한 학생

# Filter the DataFrame
filtered_df = df[((df['내신_전과목'] - df['등급_평균']) >= 1) & (df['내신_전과목'] < 4 )]
filtered_df = filtered_df.drop_duplicates(subset='이름')

# Round the '내신_전과목' column to one decimal place
filtered_df['내신_전과목'] = filtered_df['내신_전과목'].apply(lambda x: round(x, 1))

filtered_df_total = df.drop_duplicates(subset='이름')
filtered_df_num = len(filtered_df_total)
filtered_df_num_div = (len(filtered_df) / filtered_df_num) * 100
filtered_df_num_div = round(filtered_df_num_div, 1)

# Print the filtered DataFrame
print(filtered_df[['이름', '내신_전과목', '등급_평균']])
print("-----------------------------------------------------")
print('D고 2023학년도 수능등급이 내신등급보다 1등급 이상 높게 나온 학생 {}명이고 비율은 {}%입니다.'.format(len(filtered_df), filtered_df_num_div))

In [ ]:
#수능에서 내신보다 1등급 이상 오른 학생

# Filter the DataFrame
filtered_df = df[(df['내신_전과목'] - df['등급_평균']) >= 1]
filtered_df = filtered_df.drop_duplicates(subset='이름')

# Round the '내신_전과목' column to one decimal place
filtered_df['내신_전과목'] = filtered_df['내신_전과목'].apply(lambda x: round(x, 1))

#중복 제외 전체학생수, 중복제외 1등급 이상 오른 학생
filtered_df_total = df.drop_duplicates(subset='이름')
filtered_df_num = len(filtered_df_total)
filtered_df_num_div = (len(filtered_df) / filtered_df_num) * 100
filtered_df_num_div = round(filtered_df_num_div, 1)

# Add the condition column to the filtered DataFrame
filtered_df['향상도'] = (filtered_df['내신_전과목'] - filtered_df['등급_평균'])

# Print the filtered DataFrame
print(filtered_df[['이름', '내신_전과목', '등급_평균', '향상도']])
print("-----------------------------------------------------")
print('D고 2023학년도 수능등급이 내신등급보다 1등급 이상 높게 나온 학생 {}명이고 비율은 {}%입니다.'.format(len(filtered_df), filtered_df_num_div))

In [ ]:
#수능 총 응시자수: 중복 이름 제외
filtered_df = df.drop_duplicates(subset='이름')
filtered_df_num = len(filtered_df)
print(filtered_df_num)

In [ ]:
#서울주요대학(14개대) 중복합격자 제외한 합격자수

import os
import pandas as pd

uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '중앙대', '경희대', '한국외대', '서울시립대', '이화여대', '건국대', '동국대', '홍익대']

# 서울 주요대학 수시합격자수 출력
print("\n***2023학년도 D고 합격건수***")

total_accepted = 0  # Variable to store the total number of accepted students

for u in range(len(uni)):
    df_u = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df_u = df_u[['학번', '대학', '최종']]
    accepted_count = len(df_u['대학'])
    total_accepted += accepted_count
    print(uni[u], str(accepted_count) + "건")

print("\n총 합격자 수:", total_accepted, "건")