<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%ED%95%A9%EB%B6%88%EC%9E%90%EB%8F%99%EC%82%B0%EC%B6%9C_%EC%A0%95%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas 라이브러리 설치
#!pip install pandas

In [ ]:
#pandas 라이브러리 부르기
import pandas as pd

##  데이터 부르기 : 구글colab에 마운트(mount)하는 방법: 왼쪽 폴더아이콘을 누르기-눈동자 왼쪽 파일마운트 아이콘 클릭- /content/drive/MyDrive/python폴더의 susi_2021simple.csv파일을 불러옴
df = pd.read_csv('/content/drive/MyDrive/python/js_2021_noname.csv', encoding = 'cp949')

# 첫 5줄을 봅니다. 
df.head(4)

,학번,지역,대학,군,전형명,계열,모집단위,1단계,최종,예비,...,탐구2_백분위,탐구2_등급,한국사_등급,제2외한_과목명,제2외한_원점수,제2외한_표준점수,제2외한_백분위,제2외한_등급,표점합,백분위평균
0,30101,충남,백석대,가,일반실기전형(정시가군),예체능,문화예술학부(연기예술전공),NaN,불,NaN,...,9,8,6,일본어,0.0,0.0,0.0,8.0,215,9.17
1,30101,경기,신한대,나,실기우수자전형,예체능,공연예술전공,NaN,불,190.0,...,9,8,6,일본어,0.0,0.0,0.0,8.0,215,9.17
2,30101,경기,경민대학,정시1차,일반전형,예체능,공연예술과,NaN,불,41.0,...,9,8,6,일본어,0.0,0.0,0.0,8.0,215,9.17
3,30101,경기,평택대,다,PTU실기,예체능,공연영상콘텐츠학과,NaN,불,16.0,...,9,8,6,일본어,0.0,0.0,0.0,8.0,215,9.17

In [ ]:
df.columns

Index(['학번', '지역', '대학', '군', '전형명', '계열', '모집단위', '1단계', '최종', '예비', '전형종류',
       '전형일자', '최종발표일', '최저학력기준', '모집인원', '전형분류', '전형방법', '전과목', '국수영사과',
       '국수영사', '국수영과', '국수영', '국어', '수학', '영어', '사회', '과학', '국어_원점수',
       '국어_표준점수', '국어_백분위', '국어_등급', '수학영역', '수학_원점수', '수학_표준점수', '수학_백분위',
       '수학_등급', '영어_등급', '탐구영역', '탐구1_과목명', '탐구1_원점수', '탐구1_표준점수', '탐구1_백분위',
       '탐구1_등급', '탐구2_과목명', '탐구2_원점수', '탐구2_표준점수', '탐구2_백분위', '탐구2_등급',
       '한국사_등급', '제2외한_과목명', '제2외한_원점수', '제2외한_표준점수', '제2외한_백분위', '제2외한_등급',
       '표점합', '백분위평균'],
      dtype='object')

In [ ]:
#의치한약수 출력
# 의치한약수(ex: 의학 등) 합격자 명단 찾기
df_med = df['모집단위'].str.contains('^[의치한약수]+')
#df_med = df['모집단위'].str.startswith('치')
subset_df = df[df_med]
subset_df_p = subset_df[(subset_df.최종 == '합')]
subset_df_p = subset_df_p[['학번', '대학', '모집단위', '최종', '표점합', '백분위평균']]

print("\n***의치한약수 합격자***")
print("-----------------------------------------------------------------------------------------------")
print(subset_df_p)

***의치한약수 합격자***
-----------------------------------------------------------------------------------------------
        학번         대학      모집단위 최종  표점합  백분위평균
149  30421        영남대       약학부  합  401  97.00
152  30519        경희대      치의예과  합  416  97.50
219  30830        경희대  한의예과(자연)  합  410  96.83
295  31024        전북대       의예과  합  413  98.83
321  38025       이화여대  약학전공(자연)  합  404  95.50
324  38028        경희대      치의예과  합  415  98.17
325  38028  강릉원주대(강릉)      치의예과  합  415  98.17
326  38029       이화여대  약학전공(자연)  합  404  96.00
349  38127        상지대  한의예과(자연)  합  406  96.17

In [ ]:
# 서울 주요대학 수시합격자 명단 출력
uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대',  '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대']

print("***2022학년도 서울 주요대학 정시합격자 명단***\n")
for u in range(len(uni)):
    df_주요대 = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df_주요대 = df_주요대[['학번', '대학', '모집단위', '전형분류', '최종', '표점합', '백분위평균']]
    print(df_주요대)
    print("----------------------------------------------------------------")

# 서울 주요대학 수시합격자수 출력
uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대',  '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대']
print("\n***2022학년도 00고 정시합격자수***")

for u in range(len(uni)):
    df__주요대 = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df__주요대 = df__주요대[['학번', '대학', '최종']]
    print(uni[u], str(len(df__주요대['대학']))+"명")

***2022학년도 서울 주요대학 정시합격자 명단***

        학번   대학    모집단위 전형분류 최종  표점합  백분위평균
116  30313  서울대    간호대학   수능  합  396  92.17
293  31024  서울대  자유전공학부   수능  합  413  98.83
----------------------------------------------------------------
        학번   대학    모집단위 전형분류 최종  표점합  백분위평균
23   30109  연세대  문헌정보학과   수능  합  384  88.83
150  30421  연세대     화학과   수능  합  401  97.00
216  30816  연세대    교육학부   수능  합  392  94.67
----------------------------------------------------------------
        학번   대학     모집단위 전형분류 최종  표점합  백분위평균
64   30126  고려대   신소재공학부   수능  합  400  94.50
85   30217  고려대     물리학과   수능  합  402  93.67
117  30313  고려대    생명과학부   수능  합  396  92.17
200  30706  고려대   중어중문학과   수능  합  390  90.83
304  31121  고려대     통계학과   수능  합  400  94.00
320  38025  고려대  전기전자공학부   수능  합  404  95.50
352  38203  고려대  디자인조형학부   수능  합  253  92.00
----------------------------------------------------------------
        학번   대학       모집단위 전형분류 최종  표점합  백분위평균
24   30109  서강대  지식융합미디어학부   수능  합  384  88.83
306  31121  서강대    컴퓨터공학전공   수능  합  400  94.00
323  38027  서강대      영미문화계   수능  합  384  89.00
337  38049  서강대      경영학전공   수능  합  391  91.83
----------------------------------------------------------------
        학번    대학       모집단위 전형분류 최종  표점합  백분위평균
86   30217  성균관대       공학계열   수능  합  402  93.67
212  30809  성균관대      시각디자인   수능  합  358  81.00
217  30816  성균관대    글로벌경영학과   수능  합  392  94.67
312  38001  성균관대     사회과학계열   수능  합  387  92.50
313  38004  성균관대     인문과학계열   수능  합  388  93.17
319  38024  성균관대       공학계열   수능  합  387  90.00
327  38030  성균관대     자연과학계열   수능  합  394  94.17
332  38044  성균관대       공학계열   수능  합  391  91.67
342  38110  성균관대     사회과학계열   수능  합  397  96.50
345  38118  성균관대  반도체시스템공학과   수능  합  402  96.00
350  38202  성균관대       교육학과   수능  합  387  88.00
----------------------------------------------------------------
        학번   대학         모집단위 전형분류 최종  표점합  백분위평균
334  38044  한양대         건축학부   수능  합  391  91.67
339  38050  한양대  미디어커뮤니케이션학과   수능  합  394  94.33
346  38118  한양대       에너지공학과   수능  합  402  96.00
347  38126  한양대   컴퓨터소프트웨어학부   수능  합  397  90.50
348  38126  한양대       에너지공학과   수능  합  397  90.50
----------------------------------------------------------------
        학번    대학      모집단위 전형분류 최종  표점합  백분위평균
160  30609  이화여대     초등교육과   수능  합  395  95.83
316  38011  이화여대      인문계열   수능  합  378  87.67
321  38025  이화여대  약학전공(자연)   수능  합  404  95.50
326  38029  이화여대  약학전공(자연)   수능  합  404  96.00
329  38031  이화여대      자연계열   수능  합  390  90.00
340  38107  이화여대      인문계열   수능  합  383  92.33
341  38108  이화여대    사회과교육과   수능  합  377  89.33
----------------------------------------------------------------
        학번   대학         모집단위 전형분류 최종  표점합  백분위평균
65   30126  중앙대    창의ICT공과대학   수능  합  400  94.50
84   30217  중앙대    창의ICT공과대학   수능  합  402  93.67
161  30609  중앙대  경영학부(경영학전공)   수능  합  395  95.83
169  30615  중앙대       자연과학대학   수능  합  361  79.50
214  30811  중앙대    창의ICT공과대학   수능  합  342  73.67
215  30816  중앙대     간호학과(인문)   수능  합  392  94.67
305  31121  중앙대      소프트웨어학부   수능  합  400  94.00
310  31229  중앙대  경영학부(경영학전공)   수능  합  387  92.00
317  38020  중앙대       경영경제대학   수능  합  387  91.33
318  38024  중앙대    창의ICT공과대학   수능  합  387  90.00
322  38025  중앙대      소프트웨어학부   수능  합  404  95.50
328  38030  중앙대      소프트웨어학부   수능  합  394  94.17
330  38040  중앙대  경영학부(경영학전공)   수능  합  388  92.00
333  38044  중앙대      소프트웨어학부   수능  합  391  91.67
336  38049  중앙대  경영학부(경영학전공)   수능  합  391  91.83
338  38050  중앙대    창의ICT공과대학   수능  합  394  94.33
351  38202  중앙대  경영학부(경영학전공)   수능  합  387  88.00
----------------------------------------------------------------
        학번   대학      모집단위 전형분류 최종  표점합  백분위평균
152  30519  경희대      치의예과   수능  합  416  97.50
219  30830  경희대  한의예과(자연)   수능  합  410  96.83
265  31004  경희대      경영학과   수능  합  377  86.83
315  38011  경희대    국어국문학과   수능  합  378  87.67
324  38028  경희대      치의예과   수능  합  415  98.17
331  38043  경희대      행정학과   수능  합  381  90.33
335  38047  경희대      무역학과   수능  합  370  84.83
----------------------------------------------------------------
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종, 표점합, 백분위평균]
Index: []
----------------------------------------------------------------
        학번   대학   모집단위 전형분류 최종  표점합  백분위평균
207  30727  건국대   경영학과   수능  합  374  86.67
264  31004  건국대  산업공학과   수능  합  377  86.83
----------------------------------------------------------------
        학번   대학      모집단위 전형분류 최종  표점합  백분위평균
77   30207  동국대    사회복지학과   수능  합  365  82.83
205  30727  동국대  산업시스템공학과   수능  합  374  86.67
343  38111  동국대    경영정보학과   수능  합  377  90.00
----------------------------------------------------------------
        학번   대학  모집단위 전형분류 최종  표점합  백분위평균
206  30727  홍익대  경영학부   수능  합  374  86.67
----------------------------------------------------------------

***2022학년도 00고 정시합격자수***
서울대 2명
연세대 3명
고려대 7명
서강대 4명
성균관대 11명
한양대 5명
이화여대 7명
중앙대 17명
경희대 7명
한국외국어대 0명
건국대 2명
동국대 3명
홍익대 1명

In [ ]:
# 서울 주요대학 수시합격자 명단 출력
uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대',  '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대']

print("***2022학년도 서울 주요대학 정시합격자 명단***\n")
for u in range(len(uni)):
    df_주요대 = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df_주요대 = df_주요대[['학번', '대학', '모집단위', '전형분류', '최종', '백분위평균']]
    print(df_주요대)
    print("---------------------------------------------------------------------------")

# 서울 주요대학 수시합격자수 출력
uni = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대',  '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대']
print("\n***2022학년도 00고 정시합격자수***")

for u in range(len(uni)):
    df__주요대 = df[(df.대학 == uni[u]) & (df.최종 == '합')]
    df__주요대 = df__주요대[['학번', '대학', '최종']]
    print(uni[u], str(len(df__주요대['대학']))+"명")

***2022학년도 서울 주요대학 정시합격자 명단***

        학번   대학    모집단위 전형분류 최종  백분위평균
116  30313  서울대    간호대학   수능  합  89.00
293  31024  서울대  자유전공학부   수능  합  98.75
---------------------------------------------------------------------------
        학번   대학    모집단위 전형분류 최종  백분위평균
23   30109  연세대  문헌정보학과   수능  합   85.0
150  30421  연세대     화학과   수능  합   97.5
216  30816  연세대    교육학부   수능  합   94.5
---------------------------------------------------------------------------
        학번   대학     모집단위 전형분류 최종      백분위평균
64   30126  고려대   신소재공학부   수능  합  93.250000
85   30217  고려대     물리학과   수능  합  91.500000
117  30313  고려대    생명과학부   수능  합  89.000000
200  30706  고려대   중어중문학과   수능  합  91.500000
304  31121  고려대     통계학과   수능  합  92.250000
320  38025  고려대  전기전자공학부   수능  합  94.000000
352  38203  고려대  디자인조형학부   수능  합  92.333333
---------------------------------------------------------------------------
        학번   대학       모집단위 전형분류 최종  백분위평균
24   30109  서강대  지식융합미디어학부   수능  합  85.00
306  31121  서강대    컴퓨터공학전공   수능  합  92.25
323  38027  서강대      영미문화계   수능  합  85.75
337  38049  서강대      경영학전공   수능  합  89.75
---------------------------------------------------------------------------
        학번    대학       모집단위 전형분류 최종  백분위평균
86   30217  성균관대       공학계열   수능  합  91.50
212  30809  성균관대      시각디자인   수능  합  84.00
217  30816  성균관대    글로벌경영학과   수능  합  94.50
312  38001  성균관대     사회과학계열   수능  합  92.75
313  38004  성균관대     인문과학계열   수능  합  94.25
319  38024  성균관대       공학계열   수능  합  88.50
327  38030  성균관대     자연과학계열   수능  합  93.75
332  38044  성균관대       공학계열   수능  합  91.50
342  38110  성균관대     사회과학계열   수능  합  97.00
345  38118  성균관대  반도체시스템공학과   수능  합  95.50
350  38202  성균관대       교육학과   수능  합  85.25
---------------------------------------------------------------------------
        학번   대학         모집단위 전형분류 최종  백분위평균
334  38044  한양대         건축학부   수능  합  91.50
339  38050  한양대  미디어커뮤니케이션학과   수능  합  93.75
346  38118  한양대       에너지공학과   수능  합  95.50
347  38126  한양대   컴퓨터소프트웨어학부   수능  합  92.00
348  38126  한양대       에너지공학과   수능  합  92.00
---------------------------------------------------------------------------
        학번    대학      모집단위 전형분류 최종  백분위평균
160  30609  이화여대     초등교육과   수능  합  96.75
316  38011  이화여대      인문계열   수능  합  88.75
321  38025  이화여대  약학전공(자연)   수능  합  94.00
326  38029  이화여대  약학전공(자연)   수능  합  95.75
329  38031  이화여대      자연계열   수능  합  86.25
340  38107  이화여대      인문계열   수능  합  93.25
341  38108  이화여대    사회과교육과   수능  합  91.00
---------------------------------------------------------------------------
        학번   대학         모집단위 전형분류 최종  백분위평균
65   30126  중앙대    창의ICT공과대학   수능  합  93.25
84   30217  중앙대    창의ICT공과대학   수능  합  91.50
161  30609  중앙대  경영학부(경영학전공)   수능  합  96.75
169  30615  중앙대       자연과학대학   수능  합  78.25
214  30811  중앙대    창의ICT공과대학   수능  합  78.00
215  30816  중앙대     간호학과(인문)   수능  합  94.50
305  31121  중앙대      소프트웨어학부   수능  합  92.25
310  31229  중앙대  경영학부(경영학전공)   수능  합  90.50
317  38020  중앙대       경영경제대학   수능  합  90.00
318  38024  중앙대    창의ICT공과대학   수능  합  88.50
322  38025  중앙대      소프트웨어학부   수능  합  94.00
328  38030  중앙대      소프트웨어학부   수능  합  93.75
330  38040  중앙대  경영학부(경영학전공)   수능  합  91.75
333  38044  중앙대      소프트웨어학부   수능  합  91.50
336  38049  중앙대  경영학부(경영학전공)   수능  합  89.75
338  38050  중앙대    창의ICT공과대학   수능  합  93.75
351  38202  중앙대  경영학부(경영학전공)   수능  합  85.25
---------------------------------------------------------------------------
        학번   대학      모집단위 전형분류 최종  백분위평균
152  30519  경희대      치의예과   수능  합  96.50
219  30830  경희대  한의예과(자연)   수능  합  95.50
265  31004  경희대      경영학과   수능  합  85.50
315  38011  경희대    국어국문학과   수능  합  88.75
324  38028  경희대      치의예과   수능  합  98.25
331  38043  경희대      행정학과   수능  합  89.75
335  38047  경희대      무역학과   수능  합  83.00
---------------------------------------------------------------------------
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종, 백분위평균]
Index: []
---------------------------------------------------------------------------
        학번   대학   모집단위 전형분류 최종  백분위평균
207  30727  건국대   경영학과   수능  합   86.5
264  31004  건국대  산업공학과   수능  합   85.5
---------------------------------------------------------------------------
        학번   대학      모집단위 전형분류 최종  백분위평균
77   30207  동국대    사회복지학과   수능  합   81.5
205  30727  동국대  산업시스템공학과   수능  합   86.5
343  38111  동국대    경영정보학과   수능  합   90.0
---------------------------------------------------------------------------
        학번   대학  모집단위 전형분류 최종  백분위평균
206  30727  홍익대  경영학부   수능  합   86.5
---------------------------------------------------------------------------

***2022학년도 00고 정시합격자수***
서울대 2명
연세대 3명
고려대 7명
서강대 4명
성균관대 11명
한양대 5명
이화여대 7명
중앙대 17명
경희대 7명
한국외국어대 0명
건국대 2명
동국대 3명
홍익대 1명

In [ ]:
#의치한약수 출력
# 의치한약수(ex: 의학 등) 합격자 명단 찾기
df_med = df['모집단위'].str.contains('^[의치한약수]+')
#df_med = df['모집단위'].str.startswith('치')
subset_df = df[df_med]
subset_df_p = subset_df[(subset_df.최종 == '합')]
subset_df_p = subset_df_p[['학번', '대학', '모집단위', '최종']]

print("\n***의치한약수 합격자***")
print("-----------------------------------------------------------------------------------------------")
print(subset_df_p)

***의치한약수 합격자***
-----------------------------------------------------------------------------------------------
        학번         대학      모집단위 최종
149  30421        영남대       약학부  합
152  30519        경희대      치의예과  합
219  30830        경희대  한의예과(자연)  합
295  31024        전북대       의예과  합
321  38025       이화여대  약학전공(자연)  합
324  38028        경희대      치의예과  합
325  38028  강릉원주대(강릉)      치의예과  합
326  38029       이화여대  약학전공(자연)  합
349  38127        상지대  한의예과(자연)  합

In [ ]:
df.columns

Index(['학번', '지역', '대학', '군', '전형명', '계열', '모집단위', '1\n단계', '최종', '예비', '등록',
       '비고', '전형종류', '전형일자', '1단계발표일', '최종발표일', '최저학력기준', '모집인원', '전형분류',
       '전형방법', '전과목', '국수영사과', '국수영사', '국수영과', '국수영', '국어', '수학', '영어', '사회',
       '과학', '비교과', '원점수', '표준점수', '백분위', '등급', '수학\n영역', '원점수.1', '표준점수.1',
       '백분위.1', '등급.1', '원점수.2', '표준점수.2', '백분위.2', '등급.2', '탐구\n영역', '과목명',
       '원점수.3', '표준점수.3', '백분위.3', '등급.3', '과목명.1', '원점수.4', '표준점수.4', '백분위.4',
       '등급.4', '원점수.5', '표준점수.5', '백분위.5', '등급.5', '과목명.2', '원점수.6', '표준점수.6',
       '백분위.6', '등급.6'],
      dtype='object')

In [ ]:
# 특수대 합격자 명단 출력
sp = ['경찰대', '육군사관학교', '해군사관학교', '공군사관학교', '국군간호사관학교']

print("***2022학년도 정시 특수대 합격자 명단***\n")
for u in range(len(sp)):
    df_특수대 = df[(df.대학 == sp[u]) & (df.최종 == '합')]
    df_특수대 = df_특수대[['학번', '대학', '모집단위', '전형분류', '최종']]
    print("%s 대학 합격자" % sp[u])
    #print("{} 대학 합격자는 {}명" .format(sp[u] len(df_특수대)))
    print(df_특수대)
    
print("-----------------------------------------")
print("***2022학년도 정시 특수대 합격자수***\n")

# 특수대 합격자수
sp = ['경찰대', '육군사관학교', '해군사관학교', '공군사관학교', '국군간호사관학교']

for u in range(len(sp)):
    df_특수대 = df[(df.대학 == sp[u]) & (df.최종 == '합')]
    df_특수대 = df_특수대[['학번', '대학', '모집단위', '전형분류', '최종']]
print("2022학년도 특수대 수시합격자수는 %d명입니다." % len(df_특수대))

***2022학년도 정시 특수대 합격자 명단***

경찰대 대학 합격자
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종]
Index: []
육군사관학교 대학 합격자
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종]
Index: []
해군사관학교 대학 합격자
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종]
Index: []
공군사관학교 대학 합격자
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종]
Index: []
국군간호사관학교 대학 합격자
Empty DataFrame
Columns: [학번, 대학, 모집단위, 전형분류, 최종]
Index: []
-----------------------------------------
***2022학년도 정시 특수대 합격자수***

2022학년도 특수대 수시합격자수는 0명입니다.

In [ ]:
# 서울 주요대(ace리스트)를 제외한 인서울대 합격자 명단

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/python/js_2021_noname.csv', encoding = 'cp949')

#3가지 조건(지역, 최종, ace대학 제외)으로 검색
ace = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대', '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대'] 
seoul_df = df[(df.지역 == '서울') & (df.최종 == '합') & ~(df.대학.isin(ace))]
seoul_df

#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['학번', '대학', '모집단위', '최종']]
#print(seoul_df)
print(seoul_df)


# 서울 주요대(ace리스트) 제외한 인서울대 합격자수
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/python/js_2021_noname.csv', encoding = 'cp949')


#지역과 최종 조건
ace = ['서울대', '연세대', '고려대', '서강대', '성균관대', '한양대', '이화여대', '중앙대', '경희대', '한국외국어대', '건국대', '동국대', '홍익대'] 
seoul_df = df[(df.지역 == '서울') & (df.최종 == '합') & ~(df.대학.isin(ace))]


#인서울대 합격자수
print("\n---------------------------------------------------------------")
print("2022학년도 서울주요대를 제외한 인서울 수시합격자수는 %d명입니다." % len(seoul_df))

In [ ]:
#정시 전체 합격자: 중복 합격포함- 125명
df_pass = df[df.최종 == '합']
df_pass

,학번,지역,대학,군,전형명,계열,모집단위,1\n단계,최종,예비,...,등급.4,원점수.5,표준점수.5,백분위.5,등급.5,과목명.2,원점수.6,표준점수.6,백분위.6,등급.6
14,30105,서울,성신여대,가,일반학생,예체능,성악과,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
17,30108,경기,경민대학,정시1차,일반전형,자연,융합소프트웨어과,NaN,합,0.0,...,8,0,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
23,30109,서울,연세대,가,일반전형[일반계열],인문,문헌정보학과,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
24,30109,서울,서강대,나,일반,인문,지식융합미디어학부,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
40,30117,서울,서울시립대,나,일반전형,인문,경영학부,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,38126,서울,한양대,나,나군 일반,자연,에너지공학과,NaN,합,NaN,...,2,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
349,38127,강원,상지대,다,정시 (일반전형-한의대A),자연,한의예과(자연),NaN,합,NaN,...,2,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
350,38202,서울,성균관대,가,일반전형 가군,인문,교육학과,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
351,38202,서울,중앙대,다,정시일반전형,인문,경영학부(경영학전공),NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
352,38203,서울,고려대,가,일반전형,예체능,디자인조형학부,NaN,합,NaN,...,2,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [ ]:
#정시 합격자 중 재수생 제외
df_pass_ex = df[(df.최종 == '합') & ~(df.학번 >= 38000)]
df_pass_ex

,학번,지역,대학,군,전형명,계열,모집단위,1\n단계,최종,예비,...,등급.4,원점수.5,표준점수.5,백분위.5,등급.5,과목명.2,원점수.6,표준점수.6,백분위.6,등급.6
14,30105,서울,성신여대,가,일반학생,예체능,성악과,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
17,30108,경기,경민대학,정시1차,일반전형,자연,융합소프트웨어과,NaN,합,0.0,...,8,0,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
23,30109,서울,연세대,가,일반전형[일반계열],인문,문헌정보학과,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
24,30109,서울,서강대,나,일반,인문,지식융합미디어학부,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
40,30117,서울,서울시립대,나,일반전형,인문,경영학부,NaN,합,NaN,...,4,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,31124,인천,인천대,다,일반학생전형,자연,물리학과,NaN,합,NaN,...,4,0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
308,31130,서울,KC대,다,일반학생,자연,간호학과,NaN,합,NaN,...,4,0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
309,31204,충남,상명대(천안),나,수능전형,인문,글로벌지역학부,NaN,합,NaN,...,5,0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
310,31229,서울,중앙대,다,정시일반전형,인문,경영학부(경영학전공),NaN,합,NaN,...,3,0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
311,31303,서울,백석예술대학교,정시1차,일반전형,예체능,실용음악,NaN,합,NaN,...,9,0,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN

In [ ]:
#중복합격자 제외
df_pass_ex['학번'].unique()

#중복합격자수를 제외: 정시 재학생 합격자 54명
df_pass_ex['학번'].nunique()

54

In [ ]:
df.columns

Index(['학번', '지역', '대학', '군', '전형명', '계열', '모집단위', '1단계', '최종', '예비', '전형종류',
       '전형일자', '최종발표일', '최저학력기준', '모집인원', '전형분류', '전형방법', '전과목', '국수영사과',
       '국수영사', '국수영과', '국수영', '국어', '수학', '영어', '사회', '과학', '국어_원점수',
       '국어_표준점수', '국어_백분위', '국어_등급', '수학영역', '수학_원점수', '수학_표준점수', '수학_백분위',
       '수학_등급', '영어_등급', '탐구영역', '탐구1_과목명', '탐구1_원점수', '탐구1_표준점수', '탐구1_백분위',
       '탐구1_등급', '탐구2_과목명', '탐구2_원점수', '탐구2_표준점수', '탐구2_백분위', '탐구2_등급',
       '한국사_등급', '제2외한_과목명', '제2외한_원점수', '제2외한_표준점수', '제2외한_백분위', '제2외한_등급',
       '표점합', '백분위평균'],
      dtype='object')

In [ ]:
#정다연 수능점수  31024 : 98.8%(2022) vs. 97.8%(2023)
df_jdy = df[(df.학번 ==  31024)]
df_jdy[['대학', '모집단위', '최종', '국어_표준점수', '국어_백분위', '수학_표준점수', '수학_백분위', '영어_등급', '탐구1_백분위', '탐구2_백분위', '백분위평균']]

,대학,모집단위,최종,국어_표준점수,국어_백분위,수학_표준점수,수학_백분위,영어_등급,탐구1_백분위,탐구2_백분위,백분위평균
293,서울대,자유전공학부,합,134,98,147.0,100.0,2,98,99,98.83
294,인하대,의예과,불,134,98,147.0,100.0,2,98,99,98.83
295,전북대,의예과,합,134,98,147.0,100.0,2,98,99,98.83

In [ ]:
# 배수* 학번(30313)으로 조회
code = int(input("학번:"))
df_c = df[(df.학번 ==  code)]
df_c[['대학', '모집단위', '최종', '국어_표준점수', '국어_백분위', '수학_표준점수', '수학_백분위', '영어_등급', '탐구1_백분위', '탐구2_백분위', '백분위평균']]

학번:30313

,대학,모집단위,최종,국어_표준점수,국어_백분위,수학_표준점수,수학_백분위,영어_등급,탐구1_백분위,탐구2_백분위,백분위평균
116,서울대,간호대학,합,136,99,141.0,98.0,1,78,81,92.17
117,고려대,생명과학부,합,136,99,141.0,98.0,1,78,81,92.17