<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%ED%99%8D%EB%B3%B4%EC%9E%90%EB%A3%8C%ED%86%B5%EA%B3%84_%EC%9D%80%ED%8F%89%EA%B3%A02024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1~4번 은평고 홍보 브로셔 통계
###1. 4년제 합격자
###2. 수도권 합격자
###3. 전문대 합격자
###4. 인서울 4년제 합격자
###5. 4년제 지방(비수도권) 합격자

In [ ]:
#colab에서 matplotlib와 sns 라이브러리 그래프 한글을 깨지지 않게 하는 법A: 이 코드실행하고 런타임(runtime) 다시 실행하기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 1s (10.2 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 121925 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [1]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
from tabulate import tabulate
import matplotlib.pyplot as plt



##  데이터 부르기
path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


# 첫 5줄을 봅니다.
df.tail(2)

,학번,이름,지역,대학,지원시기,전형명,계열,모집단위,1단계,최종,...,선택2_백분위,선택2_등급,한국사_등급,제2외국어_과목명,제2외국어_등급,표점합수능,백분위수능,등급수능,이름_대학_모집단위_최종_표점합수능_백분위수능_등급수능,대학_모집단위_최종_표점합수능_백분위수능_등급수능
770,30604,김준건,충남,한서대(서산),다,일반전형,예체능,시각디자인학과,NaN,불,...,1.0,9.0,8.0,NaN,NaN,195,5.5,7.6,김준건 한서대(서산) 시각디자인학과 불/195점 5.5% 7.6등급,한서대(서산) 시각디자인학과 불/195점 5.5% 7.6등급
771,30604,김준건,경기,계원예술대학교,정시1차,일반전형,예체능,시각디자인과,NaN,불,...,1.0,9.0,8.0,NaN,NaN,195,5.5,7.6,김준건 계원예술대학교 시각디자인과 불/195점 5.5% 7.6등급,계원예술대학교 시각디자인과 불/195점 5.5% 7.6등급

In [ ]:
#matplotlib에서 한글구현
plt.rc('font', family='NanumBarunGothic')

#그래프 마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
#수능 응시자: 113명

df_number = df.drop_duplicates('이름')
df_number = len(df_number)
print(df_number)

113

In [3]:
#1. 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



#3개 대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']


#지역, 최종, ace대학 제외
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")

2024학년도  E고 4년제 합격건수는 146건입니다.(중복합격 포함)
2024학년도  E고 4년제 합격자수는 75명입니다.(중복제외)
2024학년도  E고 4년제 졸업생 대비 합격률은 51%입니다.(중복포함)
지역      학번  계열    이름    대학              모집단위                        최종      전과목  지원시기    전형분류
경기     30101  인문    김가영  안양대            행정학과(야)                    합         4.236  수시        교과
서울     30102  자연    김나윤  국민대            식품영양학과                    합         3.554  수시        종합
서울     30102  자연    김나윤  동덕여대          식품영양학전공                  합         3.554  수시        종합
서울     30102  자연    김나윤  상명대            외식의류학부(식품영양학전공)    합         3.554  수시        종합
서울     30102  자연    김나윤  성신여대          바이오식품공학과                합         3.554  수시        종합
경기     30105  예체능  김민지  경동대(양주)      스포츠마케팅학과                합         4.779  수시        교과
경기     30105  인문    김민지  신한대(의정부)    글로벌무역학과                  합         4.779  수시        교과
경기     30105  인문    김민지  안양대            글로벌경영학과(야)              합         4.779  수시        교과
서울     30107  자연    김유리  동덕여대          약학과                          합         1.125  수시        교과
경북     30107  자연    김유리  대구가톨릭대      의예과                          합         1.125  수시        교과
인천     30110  예체능  박지민  인하대            의류디자인학과(실기)            합         3.337  수시        실기
서울     30111  예체능  박지은  성신여대          디자인과                        합         2.755  수시        실기
서울     30112  자연    서수연  덕성여대          과학기술대학                    합         2.606  수시        교과
서울     30113  자연    성정헌  한성대            IT공과대학                      합         3.154  수시        교과
서울     30117  자연    윤벼리  이화여대          기후에너지시스템공학과(자연)    합         1.683  수시        교과
서울     30117  자연    윤벼리  중앙대            공과대학                        합         1.683  수시        교과
경기     30118  인문    이예진  경동대(양주)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  신한대(의정부)    유아교육과                      합         4.865  수시        종합
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30120  자연    이지혜  신한대(의정부)    치기공학과                      합         4.561  수시        교과
경기     30120  자연    이지혜  중부대(고양)      정보보호학전공                  합         4.561  수시        교과
서울     30121  자연    조하민  세종대            생명시스템학부                  합         1.76   수시        교과
경기     30122  인문    한유정  안양대            글로벌경영학과                  합         4.173  수시        교과
경기     30122  인문    한유정  중부대(고양)      경영학전공                      합         4.173  수시        교과
서울     30123  자연    한해빈  한성대            AI응용학과                      합         3.75   수시        교과
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        실기
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        교과
경기     30201  자연    김민주  중부대(고양)      게임소프트웨어전공              합         6.227  수시        교과
세종     30202  자연    김서현  홍익대(세종)      기계정보공학과                  합         4.5    수시        교과
서울     30205  인문    박다인  삼육대            영어영문학과                    합         4.082  수시        종합
서울     30205  인문    박다인  강서대            사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    유아교육과                      합         4.082  수시        교과
경기     30206  인문    박윤    중부대(고양)      공공안전학전공                  합         4.9    수시        교과
서울     30207  인문    박지빈  강서대            사회복지학과                    합         3.991  수시        교과
경기     30207  인문    박지빈  신한대(의정부)    사회복지학과                    합         3.991  수시        교과
경기     30208  인문    송은영  중부대(고양)      공공안전학전공                  합         5      수시        교과
경기     30208  인문    송은영  한신대            철학                            합         5      수시        종합
경기     30209  인문    오서희  경동대(양주)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      특수교육과(유아특수교육)        합         4.832  수시        교과
서울     30214  인문    이서윤  성신여대          법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  국민대            법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  중앙대            유아교육과                      합         2.036  수시        교과
경기     30217  인문    이채민  중부대(고양)      미디어커뮤니케이션학전공        합         4.885  수시        교과
서울     30220  예체능  전하영  세종대            영화예술학과(연출제작전공)      합         4.654  수시        실기
서울     30221  인문    지성윤  덕성여대          글로벌융합대학(인문사회)        합         3.065  수시        교과
서울     30221  인문    지성윤  상명대            공간환경학부                    합         3.065  수시        종합
서울     30221  인문    지성윤  서울여대          패션산업학과                    합         3.065  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
충남     30303  자연    기유민  청운대(홍성)      간호학과                        합         3.533  수시        교과
서울     30303  자연    기유민  강서대            간호학과                        합         3.533  수시        교과
충북     30303  자연    기유민  청주대            간호학과                        합         3.533  수시        교과
경기     30306  인문    김시연  신한대(의정부)    국제개발협력학과                합         4.894  수시        교과
경기     30307  예체능  김시은  예원예술대(양주)  귀금속보석디자인전공            합         7.308  수시        실기
강원     30307  예체능  김시은  강원대(삼척)      생활조형디자인학과              합         7.308  수시        실기
충남     30307  예체능  김시은  세한대(당진)      AI콘텐츠디자인학과              합         7.308  수시        실기
서울     30310  인문    김지후  동국대            국어국문문예창작학부            합         3.478  수시        실기
서울     30310  예체능  김지후  세종대            영화예술학과(연출제작전공)      합         3.478  수시        실기
경기     30311  인문    김채린  안양대            러시아언어문화학과              합         3.663  수시        교과
서울     30313  자연    박소정  한국성서대        컴퓨터소프트웨어학과            합         4.178  수시        교과
경기     30313  인문    박소정  중부대(고양)      엔터테인먼트학전공              합         4.178  수시        교과
경기     30313  공통    박소정  차의과학대        미래융합대학                    합         4.178  수시        교과
서울     30314  자연    송은재  세종대            소프트웨어학과                  합         2.087  수시        교과
경기     30315  예체능  신예린  중부대(고양)      연극영화학전공(연기)            합         5.364  수시        실기
경기     30315  예체능  신예린  신한대(의정부)    공연예술학과(연기)              합         5.364  수시        실기
강원     30316  자연    안세빈  경동대(원주문막)  간호학과                        합         4.589  수시        교과
경기     30317  자연    유민서  신한대(의정부)    에너지공학과                    합         4.01   수시        교과
경기     30317  자연    유민서  을지대(성남)      바이오공학부                    합         4.01   수시        종합
경기     30320  자연    조유리  용인대            산업환경보건학과                합         3.785  수시        교과
경기     30321  인문    추지원  신한대(의정부)    행정학과                        합         4.378  수시        교과
경기     30321  인문    추지원  중부대(고양)      엔터테인먼트학전공              합         4.378  수시        교과
강원     30322  자연    황혜정  경동대(원주문막)  간호학과                        합         3.935  수시        교과
경기     30402  인문    김도건  강남대            사회복지학부                    합         3.963  수시        종합
서울     30403  자연    김동준  동국대            기계로봇에너지공학과            합         2.231  수시        교과
서울     30403  자연    김동준  숭실대            기계공학부                      합         2.231  수시        교과
경기     30405  자연    김하윤  중부대(고양)      토목공학전공                    합         4.684  수시        교과
서울     30407  자연    박준우  국민대            건설시스템공학부                합         2.388  수시        교과
서울     30407  자연    박준우  상명대            생명화학공학부(화공신소재전공)  합         2.388  수시        교과
서울     30407  자연    박준우  숭실대            건축학부(건축학,건축공학전공)   합         2.388  수시        교과
경기     30409  인문    송민혁  경동대(양주)      행정학과                        합         5.317  수시        교과
경기     30409  인문    송민혁  중부대(고양)      국제통상학전공                  합         5.317  수시        교과
서울     30411  인문    양기훈  명지대            경영학과                        합         2.582  수시        교과
서울     30411  인문    양기훈  한성대            사회과학부                      합         2.582  수시        교과
서울     30411  인문    양기훈  상명대            경영학부                        합         2.582  수시        교과
경기     30411  인문    양기훈  한국항공대        경영학과                        합         2.582  수시        교과
경기     30414  자연    이민우  가톨릭대(성심)    에너지환경공학과                합         3.885  수시        종합
인천     30414  자연    이민우  인하대            해양과학과                      합         3.885  수시        종합
부산     30414  자연    이민우  부산대            해양학과                        합         3.885  수시        종합
전북     30418  자연    조예찬  원광대            도시공학과                      합         6.261  수시        교과
경기     30419  자연    조종원  경동대(양주)      컴퓨터공학과                    합         5.564  수시        교과
전북     30419  자연    조종원  원광대            컴퓨터소프트웨어공학과          합         5.564  수시        교과
충남     30419  자연    조종원  호서대(아산)      빅데이터AI학부                  합         5.564  수시        교과
경기     30420  자연    최원석  신한대(의정부)    소프트웨어융합학과              합         4.43   수시        교과
광주     30422  자연    홍동혁  남부대            물리치료학과                    합         5.429  수시        교과
전남     30422  자연    홍동혁  세한대(영암)      물리치료학과                    합         5.429  수시        교과
전남     30422  자연    홍동혁  동신대            방사선학과                      합         5.429  수시        교과
광주     30422  자연    홍동혁  송원대            간호학과                        합         5.429  수시        교과
광주     30422  자연    홍동혁  호남대            임상병리학과                    합         5.429  수시        교과
경기     30501  인문    강민성  중부대(고양)      미디어커뮤니케이션학전공        합         4.091  수시        교과
강원     30502  자연    권지웅  강원대            지질지구물리학부                합         4.933  수시        교과
경기     30505  인문    김태양  경동대(양주)      공공복지정보관리학과            합         5.206  수시        교과
서울     30508  인문    박영준  국민대            한국역사학과                    합         2.283  수시        종합
서울     30508  인문    박영준  숭실대            사학과                          합         2.283  수시        종합
인천     30513  자연    박준한  인천대            신소재공학과                    합         3.061  수시        교과
경기     30515  예체능  범서윤  신한대(의정부)    태권도학부                      합         6.906  수시        실기
강원     30515  예체능  범서윤  상지대            체육학부(태권도학전공)          합         6.906  수시        실기
경기     30517  자연    원영민  가천대(글로벌)    도시계획조경학부                합         2.653  수시        교과
경기     30517  자연    원영민  한국항공대        항공우주공학과                  합         2.653  수시        교과
경기     30520  인문    진승민  신한대(의정부)    글로벌무역학과                  합         5.027  수시        교과
경기     30521  예체능  허태욱  신한대(의정부)    태권도학부                      합         5.99   수시        실기
인천     30522  자연    황호영  인천대            생명과학부(분자의생명전공)      합         2.684  수시        종합
서울     30522  자연    황호영  상명대            지능데이터융합학부              합         2.684  수시        교과
서울     30602  자연    김성민  서울과기대        전기정보공학과                  합         3.286  수시        논술
경기     30602  자연    김성민  경기대            전자공학부                      합         3.286  수시        교과
경기     30603  자연    김승도  신한대(의정부)    미래자동차공학과                합         4.626  수시        교과
경기     30603  자연    김승도  중부대(고양)      스마트모빌리티공학전공          합         4.626  수시        교과
경북     30605  자연    박기범  대구한의대        임상병리학과                    합         4.869  수시        교과
서울     30608  자연    염상민  건국대            화학공학부                      합         1.779  수시        교과
전북     30610  인문    이승건  원광대            경영학과                        합         6.845  수시        교과
강원     30610  자연    이승건  상지대            동물자원학과                    합         6.845  수시        종합
경기     30611  인문    이준휘  신한대(의정부)    토지행정학과                    합         5.519  수시        교과
경기     30611  인문    이준휘  중부대(고양)      경영학전공                      합         5.519  수시        교과
경기     30612  인문    이호진  중부대(고양)      공공안전학전공                  합         5.204  수시        교과
경기     30612  인문    이호진  수원대            경영학부                        합         5.204  수시        교과
충남     30612  자연    이호진  호서대(아산)      소방방재학과                    합         5.204  수시        교과
경기     30613  인문    임예찬  협성대            사회복지학과                    합         3.762  수시        교과
충북     30614  인문    임현민  청주대            국어교육과                      합         5.472  수시        교과
전북     30614  인문    임현민  우석대(전주)      국어교육과                      합         5.472  수시        교과
경북     30614  인문    임현민  대구가톨릭대      국어교육과                      합         5.472  수시        교과
강원     30614  인문    임현민  가톨릭관동대      국어교육과                      합         5.472  수시        교과
서울     30615  인문    정낙용  강서대            사회복지학과                    합         3.396  수시        교과
경기     30615  인문    정낙용  중부대(고양)      경영학전공                      합         3.396  수시        교과
경기     30616  자연    정성욱  중부대(고양)      토목공학전공                    합         7.596  수시        교과
충북     30618  자연    최민하  한국교통대(충주)  전기공학과                      합         3.5    수시        교과
경기     30619  자연    최승현  중부대(고양)      전기전자공학전공                합         5.062  수시        교과
서울     30619  자연    최승현  한국성서대        컴퓨터소프트웨어학과            합         5.062  수시        교과
서울     30619  인문    최승현  강서대            신학과                          합         5.062  수시        교과
대전     30621  자연    류재형  목원대            도시공학과                      합         6.173  수시        교과
대전     30621  자연    류재형  배재대            조경학과                        합         6.173  수시        교과
전북     30621  자연    류재형  원광대            도시공학과                      합         6.173  수시        교과
충남     30621  자연    류재형  호서대(아산)      환경공학과                      합         6.173  수시        교과
충북     30621  자연    류재형  청주대            환경공학과                      합         6.173  수시        교과
서울     30308  인문    김재희  숙명여대          홍보광고학과                    합         2.518  가          수능
********************************************************************

In [4]:
#16. 수도권(서울, 경기, 인천) 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


#수도권 지역 설정
area = ['서울', '경기', '인천']


#3개 대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']



#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]


seoul_df = seoul_df[seoul_df['지역'].isin(area)]


#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 수도권대 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제 수도권대 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 수도권대 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")


#데이터 프레임으로 전환
seoul_df_p = pd.DataFrame(seoul_df)


#결과를 엑셀로 저장
path = '/content/drive/MyDrive/python/eunpyeong/result_habbul/'
seoul_df_p.to_excel(excel_writer= f'{path}수도권4년제명단_2024_은평고.xlsx')

2024학년도  E고 4년제 수도권대 합격건수는 113건입니다.(중복합격 포함)
2024학년도  E고 4년제 수도권대 합격자수는 64명입니다.(중복제외)
2024학년도  E고 4년제 수도권대 졸업생 대비 합격률은 43%입니다.(중복포함)
지역      학번  계열    이름    대학              모집단위                        최종      전과목  지원시기    전형분류
경기     30101  인문    김가영  안양대            행정학과(야)                    합         4.236  수시        교과
서울     30102  자연    김나윤  국민대            식품영양학과                    합         3.554  수시        종합
서울     30102  자연    김나윤  동덕여대          식품영양학전공                  합         3.554  수시        종합
서울     30102  자연    김나윤  상명대            외식의류학부(식품영양학전공)    합         3.554  수시        종합
서울     30102  자연    김나윤  성신여대          바이오식품공학과                합         3.554  수시        종합
경기     30105  예체능  김민지  경동대(양주)      스포츠마케팅학과                합         4.779  수시        교과
경기     30105  인문    김민지  신한대(의정부)    글로벌무역학과                  합         4.779  수시        교과
경기     30105  인문    김민지  안양대            글로벌경영학과(야)              합         4.779  수시        교과
서울     30107  자연    김유리  동덕여대          약학과                          합         1.125  수시        교과
인천     30110  예체능  박지민  인하대            의류디자인학과(실기)            합         3.337  수시        실기
서울     30111  예체능  박지은  성신여대          디자인과                        합         2.755  수시        실기
서울     30112  자연    서수연  덕성여대          과학기술대학                    합         2.606  수시        교과
서울     30113  자연    성정헌  한성대            IT공과대학                      합         3.154  수시        교과
서울     30117  자연    윤벼리  이화여대          기후에너지시스템공학과(자연)    합         1.683  수시        교과
서울     30117  자연    윤벼리  중앙대            공과대학                        합         1.683  수시        교과
경기     30118  인문    이예진  경동대(양주)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  신한대(의정부)    유아교육과                      합         4.865  수시        종합
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30120  자연    이지혜  신한대(의정부)    치기공학과                      합         4.561  수시        교과
경기     30120  자연    이지혜  중부대(고양)      정보보호학전공                  합         4.561  수시        교과
서울     30121  자연    조하민  세종대            생명시스템학부                  합         1.76   수시        교과
경기     30122  인문    한유정  안양대            글로벌경영학과                  합         4.173  수시        교과
경기     30122  인문    한유정  중부대(고양)      경영학전공                      합         4.173  수시        교과
서울     30123  자연    한해빈  한성대            AI응용학과                      합         3.75   수시        교과
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        실기
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        교과
경기     30201  자연    김민주  중부대(고양)      게임소프트웨어전공              합         6.227  수시        교과
서울     30205  인문    박다인  삼육대            영어영문학과                    합         4.082  수시        종합
서울     30205  인문    박다인  강서대            사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    유아교육과                      합         4.082  수시        교과
경기     30206  인문    박윤    중부대(고양)      공공안전학전공                  합         4.9    수시        교과
서울     30207  인문    박지빈  강서대            사회복지학과                    합         3.991  수시        교과
경기     30207  인문    박지빈  신한대(의정부)    사회복지학과                    합         3.991  수시        교과
경기     30208  인문    송은영  중부대(고양)      공공안전학전공                  합         5      수시        교과
경기     30208  인문    송은영  한신대            철학                            합         5      수시        종합
경기     30209  인문    오서희  경동대(양주)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      특수교육과(유아특수교육)        합         4.832  수시        교과
서울     30214  인문    이서윤  성신여대          법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  국민대            법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  중앙대            유아교육과                      합         2.036  수시        교과
경기     30217  인문    이채민  중부대(고양)      미디어커뮤니케이션학전공        합         4.885  수시        교과
서울     30220  예체능  전하영  세종대            영화예술학과(연출제작전공)      합         4.654  수시        실기
서울     30221  인문    지성윤  덕성여대          글로벌융합대학(인문사회)        합         3.065  수시        교과
서울     30221  인문    지성윤  상명대            공간환경학부                    합         3.065  수시        종합
서울     30221  인문    지성윤  서울여대          패션산업학과                    합         3.065  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
서울     30303  자연    기유민  강서대            간호학과                        합         3.533  수시        교과
경기     30306  인문    김시연  신한대(의정부)    국제개발협력학과                합         4.894  수시        교과
경기     30307  예체능  김시은  예원예술대(양주)  귀금속보석디자인전공            합         7.308  수시        실기
서울     30310  인문    김지후  동국대            국어국문문예창작학부            합         3.478  수시        실기
서울     30310  예체능  김지후  세종대            영화예술학과(연출제작전공)      합         3.478  수시        실기
경기     30311  인문    김채린  안양대            러시아언어문화학과              합         3.663  수시        교과
서울     30313  자연    박소정  한국성서대        컴퓨터소프트웨어학과            합         4.178  수시        교과
경기     30313  인문    박소정  중부대(고양)      엔터테인먼트학전공              합         4.178  수시        교과
경기     30313  공통    박소정  차의과학대        미래융합대학                    합         4.178  수시        교과
서울     30314  자연    송은재  세종대            소프트웨어학과                  합         2.087  수시        교과
경기     30315  예체능  신예린  중부대(고양)      연극영화학전공(연기)            합         5.364  수시        실기
경기     30315  예체능  신예린  신한대(의정부)    공연예술학과(연기)              합         5.364  수시        실기
경기     30317  자연    유민서  신한대(의정부)    에너지공학과                    합         4.01   수시        교과
경기     30317  자연    유민서  을지대(성남)      바이오공학부                    합         4.01   수시        종합
경기     30320  자연    조유리  용인대            산업환경보건학과                합         3.785  수시        교과
경기     30321  인문    추지원  신한대(의정부)    행정학과                        합         4.378  수시        교과
경기     30321  인문    추지원  중부대(고양)      엔터테인먼트학전공              합         4.378  수시        교과
경기     30402  인문    김도건  강남대            사회복지학부                    합         3.963  수시        종합
서울     30403  자연    김동준  동국대            기계로봇에너지공학과            합         2.231  수시        교과
서울     30403  자연    김동준  숭실대            기계공학부                      합         2.231  수시        교과
경기     30405  자연    김하윤  중부대(고양)      토목공학전공                    합         4.684  수시        교과
서울     30407  자연    박준우  국민대            건설시스템공학부                합         2.388  수시        교과
서울     30407  자연    박준우  상명대            생명화학공학부(화공신소재전공)  합         2.388  수시        교과
서울     30407  자연    박준우  숭실대            건축학부(건축학,건축공학전공)   합         2.388  수시        교과
경기     30409  인문    송민혁  경동대(양주)      행정학과                        합         5.317  수시        교과
경기     30409  인문    송민혁  중부대(고양)      국제통상학전공                  합         5.317  수시        교과
서울     30411  인문    양기훈  명지대            경영학과                        합         2.582  수시        교과
서울     30411  인문    양기훈  한성대            사회과학부                      합         2.582  수시        교과
서울     30411  인문    양기훈  상명대            경영학부                        합         2.582  수시        교과
경기     30411  인문    양기훈  한국항공대        경영학과                        합         2.582  수시        교과
경기     30414  자연    이민우  가톨릭대(성심)    에너지환경공학과                합         3.885  수시        종합
인천     30414  자연    이민우  인하대            해양과학과                      합         3.885  수시        종합
경기     30419  자연    조종원  경동대(양주)      컴퓨터공학과                    합         5.564  수시        교과
경기     30420  자연    최원석  신한대(의정부)    소프트웨어융합학과              합         4.43   수시        교과
경기     30501  인문    강민성  중부대(고양)      미디어커뮤니케이션학전공        합         4.091  수시        교과
경기     30505  인문    김태양  경동대(양주)      공공복지정보관리학과            합         5.206  수시        교과
서울     30508  인문    박영준  국민대            한국역사학과                    합         2.283  수시        종합
서울     30508  인문    박영준  숭실대            사학과                          합         2.283  수시        종합
인천     30513  자연    박준한  인천대            신소재공학과                    합         3.061  수시        교과
경기     30515  예체능  범서윤  신한대(의정부)    태권도학부                      합         6.906  수시        실기
경기     30517  자연    원영민  가천대(글로벌)    도시계획조경학부                합         2.653  수시        교과
경기     30517  자연    원영민  한국항공대        항공우주공학과                  합         2.653  수시        교과
경기     30520  인문    진승민  신한대(의정부)    글로벌무역학과                  합         5.027  수시        교과
경기     30521  예체능  허태욱  신한대(의정부)    태권도학부                      합         5.99   수시        실기
인천     30522  자연    황호영  인천대            생명과학부(분자의생명전공)      합         2.684  수시        종합
서울     30522  자연    황호영  상명대            지능데이터융합학부              합         2.684  수시        교과
서울     30602  자연    김성민  서울과기대        전기정보공학과                  합         3.286  수시        논술
경기     30602  자연    김성민  경기대            전자공학부                      합         3.286  수시        교과
경기     30603  자연    김승도  신한대(의정부)    미래자동차공학과                합         4.626  수시        교과
경기     30603  자연    김승도  중부대(고양)      스마트모빌리티공학전공          합         4.626  수시        교과
서울     30608  자연    염상민  건국대            화학공학부                      합         1.779  수시        교과
경기     30611  인문    이준휘  신한대(의정부)    토지행정학과                    합         5.519  수시        교과
경기     30611  인문    이준휘  중부대(고양)      경영학전공                      합         5.519  수시        교과
경기     30612  인문    이호진  중부대(고양)      공공안전학전공                  합         5.204  수시        교과
경기     30612  인문    이호진  수원대            경영학부                        합         5.204  수시        교과
경기     30613  인문    임예찬  협성대            사회복지학과                    합         3.762  수시        교과
서울     30615  인문    정낙용  강서대            사회복지학과                    합         3.396  수시        교과
경기     30615  인문    정낙용  중부대(고양)      경영학전공                      합         3.396  수시        교과
경기     30616  자연    정성욱  중부대(고양)      토목공학전공                    합         7.596  수시        교과
경기     30619  자연    최승현  중부대(고양)      전기전자공학전공                합         5.062  수시        교과
서울     30619  자연    최승현  한국성서대        컴퓨터소프트웨어학과            합         5.062  수시        교과
서울     30619  인문    최승현  강서대            신학과                          합         5.062  수시        교과
서울     30308  인문    김재희  숙명여대          홍보광고학과                    합         2.518  가          수능
********************************************************************

In [19]:
#18. 인서울 4년제 합격자 명단


from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


#서울
area = ['서울']



#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.str.contains("대학"))]


#인서울로 제한
seoul_df = seoul_df[seoul_df['지역'].isin(area)]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 인서울 4년제 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 인서울 4년제 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 인서울 4년제 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")

2024학년도  E고 인서울 4년제 합격건수는 44건입니다.(중복합격 포함)
2024학년도  E고 인서울 4년제 합격자수는 27명입니다.(중복제외)
2024학년도  E고 인서울 4년제 졸업생 대비 합격률은 18%입니다.(중복포함)
지역      학번  계열    이름    대학        모집단위                        최종      전과목  지원시기    전형분류
서울     30102  자연    김나윤  국민대      식품영양학과                    합         3.554  수시        종합
서울     30102  자연    김나윤  동덕여대    식품영양학전공                  합         3.554  수시        종합
서울     30102  자연    김나윤  상명대      외식의류학부(식품영양학전공)    합         3.554  수시        종합
서울     30102  자연    김나윤  성신여대    바이오식품공학과                합         3.554  수시        종합
서울     30107  자연    김유리  동덕여대    약학과                          합         1.125  수시        교과
서울     30111  예체능  박지은  성신여대    디자인과                        합         2.755  수시        실기
서울     30112  자연    서수연  덕성여대    과학기술대학                    합         2.606  수시        교과
서울     30113  자연    성정헌  한성대      IT공과대학                      합         3.154  수시        교과
서울     30117  자연    윤벼리  이화여대    기후에너지시스템공학과(자연)    합         1.683  수시        교과
서울     30117  자연    윤벼리  중앙대      공과대학                        합         1.683  수시        교과
서울     30121  자연    조하민  세종대      생명시스템학부                  합         1.76   수시        교과
서울     30123  자연    한해빈  한성대      AI응용학과                      합         3.75   수시        교과
서울     30205  인문    박다인  삼육대      영어영문학과                    합         4.082  수시        종합
서울     30205  인문    박다인  강서대      사회복지학과                    합         4.082  수시        교과
서울     30207  인문    박지빈  강서대      사회복지학과                    합         3.991  수시        교과
서울     30214  인문    이서윤  성신여대    법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  국민대      법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  중앙대      유아교육과                      합         2.036  수시        교과
서울     30220  예체능  전하영  세종대      영화예술학과(연출제작전공)      합         4.654  수시        실기
서울     30221  인문    지성윤  덕성여대    글로벌융합대학(인문사회)        합         3.065  수시        교과
서울     30221  인문    지성윤  상명대      공간환경학부                    합         3.065  수시        종합
서울     30221  인문    지성윤  서울여대    패션산업학과                    합         3.065  수시        교과
서울     30303  자연    기유민  강서대      간호학과                        합         3.533  수시        교과
서울     30310  인문    김지후  동국대      국어국문문예창작학부            합         3.478  수시        실기
서울     30310  예체능  김지후  세종대      영화예술학과(연출제작전공)      합         3.478  수시        실기
서울     30313  자연    박소정  한국성서대  컴퓨터소프트웨어학과            합         4.178  수시        교과
서울     30314  자연    송은재  세종대      소프트웨어학과                  합         2.087  수시        교과
서울     30403  자연    김동준  동국대      기계로봇에너지공학과            합         2.231  수시        교과
서울     30403  자연    김동준  숭실대      기계공학부                      합         2.231  수시        교과
서울     30407  자연    박준우  국민대      건설시스템공학부                합         2.388  수시        교과
서울     30407  자연    박준우  상명대      생명화학공학부(화공신소재전공)  합         2.388  수시        교과
서울     30407  자연    박준우  숭실대      건축학부(건축학,건축공학전공)   합         2.388  수시        교과
서울     30411  인문    양기훈  명지대      경영학과                        합         2.582  수시        교과
서울     30411  인문    양기훈  한성대      사회과학부                      합         2.582  수시        교과
서울     30411  인문    양기훈  상명대      경영학부                        합         2.582  수시        교과
서울     30508  인문    박영준  국민대      한국역사학과                    합         2.283  수시        종합
서울     30508  인문    박영준  숭실대      사학과                          합         2.283  수시        종합
서울     30522  자연    황호영  상명대      지능데이터융합학부              합         2.684  수시        교과
서울     30602  자연    김성민  서울과기대  전기정보공학과                  합         3.286  수시        논술
서울     30608  자연    염상민  건국대      화학공학부                      합         1.779  수시        교과
서울     30615  인문    정낙용  강서대      사회복지학과                    합         3.396  수시        교과
서울     30619  자연    최승현  한국성서대  컴퓨터소프트웨어학과            합         5.062  수시        교과
서울     30619  인문    최승현  강서대      신학과                          합         5.062  수시        교과
서울     30308  인문    김재희  숙명여대    홍보광고학과                    합         2.518  가          수능
********************************************************************

In [7]:
#19. 지방 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


area = ['서울', '경기', '인천']


#3개 전문대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']


#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]


#서울지역 제외
seoul_df = seoul_df[~seoul_df['지역'].isin(area)]


#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)


#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 지방 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제  지방 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 지방 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")


#데이터 프레임으로 전환
seoul_df_p = pd.DataFrame(seoul_df)

2024학년도  E고 4년제 지방 합격건수는 33건입니다.(중복합격 포함)
2024학년도  E고 4년제  지방 합격자수는 18명입니다.(중복제외)
2024학년도  E고 4년제 지방 졸업생 대비 합격률은 12%입니다.(중복포함)
지역      학번  계열    이름    대학              모집단위                최종      전과목  지원시기    전형분류
경북     30107  자연    김유리  대구가톨릭대      의예과                  합         1.125  수시        교과
세종     30202  자연    김서현  홍익대(세종)      기계정보공학과          합         4.5    수시        교과
충남     30303  자연    기유민  청운대(홍성)      간호학과                합         3.533  수시        교과
충북     30303  자연    기유민  청주대            간호학과                합         3.533  수시        교과
강원     30307  예체능  김시은  강원대(삼척)      생활조형디자인학과      합         7.308  수시        실기
충남     30307  예체능  김시은  세한대(당진)      AI콘텐츠디자인학과      합         7.308  수시        실기
강원     30316  자연    안세빈  경동대(원주문막)  간호학과                합         4.589  수시        교과
강원     30322  자연    황혜정  경동대(원주문막)  간호학과                합         3.935  수시        교과
부산     30414  자연    이민우  부산대            해양학과                합         3.885  수시        종합
전북     30418  자연    조예찬  원광대            도시공학과              합         6.261  수시        교과
전북     30419  자연    조종원  원광대            컴퓨터소프트웨어공학과  합         5.564  수시        교과
충남     30419  자연    조종원  호서대(아산)      빅데이터AI학부          합         5.564  수시        교과
광주     30422  자연    홍동혁  남부대            물리치료학과            합         5.429  수시        교과
전남     30422  자연    홍동혁  세한대(영암)      물리치료학과            합         5.429  수시        교과
전남     30422  자연    홍동혁  동신대            방사선학과              합         5.429  수시        교과
광주     30422  자연    홍동혁  송원대            간호학과                합         5.429  수시        교과
광주     30422  자연    홍동혁  호남대            임상병리학과            합         5.429  수시        교과
강원     30502  자연    권지웅  강원대            지질지구물리학부        합         4.933  수시        교과
강원     30515  예체능  범서윤  상지대            체육학부(태권도학전공)  합         6.906  수시        실기
경북     30605  자연    박기범  대구한의대        임상병리학과            합         4.869  수시        교과
전북     30610  인문    이승건  원광대            경영학과                합         6.845  수시        교과
강원     30610  자연    이승건  상지대            동물자원학과            합         6.845  수시        종합
충남     30612  자연    이호진  호서대(아산)      소방방재학과            합         5.204  수시        교과
충북     30614  인문    임현민  청주대            국어교육과              합         5.472  수시        교과
전북     30614  인문    임현민  우석대(전주)      국어교육과              합         5.472  수시        교과
경북     30614  인문    임현민  대구가톨릭대      국어교육과              합         5.472  수시        교과
강원     30614  인문    임현민  가톨릭관동대      국어교육과              합         5.472  수시        교과
충북     30618  자연    최민하  한국교통대(충주)  전기공학과              합         3.5    수시        교과
대전     30621  자연    류재형  목원대            도시공학과              합         6.173  수시        교과
대전     30621  자연    류재형  배재대            조경학과                합         6.173  수시        교과
전북     30621  자연    류재형  원광대            도시공학과              합         6.173  수시        교과
충남     30621  자연    류재형  호서대(아산)      환경공학과              합         6.173  수시        교과
충북     30621  자연    류재형  청주대            환경공학과              합         6.173  수시        교과
********************************************************************

In [14]:
#17. 전문대 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



#합격, 대학(ex: 명지전문대학), 대학교(ex: 서일대학교)
seoul_df = df[(df.최종 == '합') & (df.대학.str.contains("대학")) | (df.대학.str.contains("대학교"))]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 전문대 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 전문대 합격자수는 {seoul_df_person}명입니다.(중복제외)")

print(f"2024학년도  E고 전문대 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")

2024학년도  E고 전문대 합격건수는 197건입니다.(중복합격 포함)
2024학년도  E고 전문대 합격자수는 45명입니다.(중복제외)
2024학년도  E고 전문대 졸업생 대비 합격률은 30%입니다.(중복포함)
지역      학번  계열    이름    대학                모집단위                            최종      전과목  지원시기    전형분류
경기     30103  자연    김리나  장안대학교          항공관광과                          불         6.346  수시1차     종합
서울     30103  자연    김리나  한양여자대학교      항공과                              불         6.346  수시1차     종합
경기     30103  자연    김리나  부천대학교          항공서비스과                        불         6.346  수시1차     종합
경기     30103  인문    김리나  신구대학교          항공서비스과                        불         6.346  수시1차     종합
경기     30103  인문    김리나  연성대학교          항공서비스과                        불         6.346  수시1차     종합
인천     30103  인문    김리나  경인여자대학교      항공서비스학과                      불         6.346  수시1차     종합
경기     30201  예체능  김민주  청강문화산업대학교  애니메이션전공                      불         6.227  수시1차     실기
경기     30201  예체능  김민주  청강문화산업대학교  융합콘텐츠창작전공                  불         6.227  수시2차     실기
서울     30203  인문    김신영  서일대학교          비즈니스중국어과                    불         7.102  수시1차     교과
서울     30203  인문    김신영  숭의여자대학교      사회복지과                          불         7.102  수시1차     교과
서울     30203  예체능  김신영  인덕대학교          주얼리디자인학과                    불         7.102  수시1차     교과
경기     30203  인문    김신영  동서울대학교        사회복지학과                        합         7.102  수시1차     종합
서울     30203  인문    김신영  배화여자대학교      아동보육과                          합         7.102  수시1차     교과
서울     30203  인문    김신영  삼육보건대학교      사회복지과                          불         7.102  수시1차     교과
서울     30203  인문    김신영  배화여자대학교      사회복지과                          합         7.102  수시1차     교과
서울     30204  예체능  김예원  명지전문대학        소프트웨어콘텐츠과                  합         5.755  수시1차     교과
서울     30204  자연    김예원  배화여자대학교      소프트웨어공학과                    합         5.755  수시1차     교과
서울     30204  자연    김예원  서일대학교          AI융합콘텐츠학과                    합         5.755  수시1차     교과
서울     30204  예체능  김예원  인덕대학교          주얼리디자인학과                    합         5.755  수시1차     교과
서울     30204  자연    김예원  한양여자대학교      소프트웨어융합과                    합         5.755  수시1차     교과
서울     30205  인문    박다인  명지전문대학        공공행정서비스상담과                합         4.082  수시2차     교과
서울     30206  예체능  박윤    동양미래대학교      시각디자인과                        합         4.9    수시1차     교과
서울     30206  인문    박윤    명지전문대학        사회복지과                          합         4.9    수시1차     교과
서울     30206  인문    박윤    배화여자대학교      사회복지과                          합         4.9    수시1차     교과
서울     30206  인문    박윤    서일대학교          사회복지학과                        합         4.9    수시1차     교과
경기     30208  자연    송은영  유한대학교          작업치료과                          합         5      수시1차     교과
경기     30209  인문    오서희  경민대학교          유아교육과                          합         4.832  수시1차     교과
서울     30209  인문    오서희  서일대학교          유아교육학과                        합         4.832  수시1차     교과
서울     30209  인문    오서희  숭의여자대학교      유아교육과                          합         4.832  수시1차     교과
서울     30209  인문    오서희  한양여자대학교      유아교육과                          불         4.832  수시1차     교과
경기     30209  인문    오서희  오산대학교          유아교육과                          합         4.832  수시1차     교과
경기     30209  인문    오서희  신구대학교          유아교육과                          합         4.832  수시1차     교과
경기     30209  인문    오서희  안산대학교          유아교육과                          합         4.832  수시1차     교과
경기     30209  인문    오서희  연성대학교          유아교육과                          합         4.832  수시1차     교과
서울     30209  인문    오서희  명지전문대학        유아교육학과                        합         4.832  수시1차     교과
인천     30209  인문    오서희  경인여자대학교      유아교육학과                        합         4.832  수시1차     교과
서울     30209  인문    오서희  배화여자대학교      유아교육과                          합         4.832  수시1차     교과
경기     30209  인문    오서희  김포대학교          유아교육과                          합         4.832  수시1차     교과
서울     30209  인문    오서희  명지전문대학        유아교육학과                        합         4.832  수시2차     교과
서울     30209  인문    오서희  배화여자대학교      유아교육과                          합         4.832  수시2차     교과
서울     30209  인문    오서희  숭의여자대학교      유아교육과                          합         4.832  수시2차     교과
서울     30209  인문    오서희  한양여자대학교      유아교육과                          불         4.832  수시2차     교과
서울     30210  인문    오승빈  한양여자대학교      실무중국어과                        불         5.663  수시1차     교과
서울     30210  인문    오승빈  명지전문대학        중국어비즈니스과                    합         5.663  수시1차     교과
서울     30211  자연    오예슬  배화여자대학교      스마트IT학과                        합         8.288  수시1차     교과
서울     30211  인문    오예슬  배화여자대학교      세무회계과                          합         8.288  수시2차     교과
경기     30212  자연    원은비  경민대학교          로컬푸드조리과                      합         7.3    수시1차     교과
경기     30212  자연    원은비  경민대학교          카페베이커리과                      합         7.3    수시1차     교과
경기     30212  자연    원은비  경민대학교          호텔조리과                          합         7.3    수시1차     교과
서울     30212  예체능  원은비  배화여자대학교      조리학과 K-푸드전공                 합         7.3    수시1차     교과
서울     30212  예체능  원은비  배화여자대학교      조리학과 K-푸드전공                 합         7.3    수시1차     교과
서울     30212  예체능  원은비  백석예술대학교      외식학부                            합         7.3    수시1차     종합
경기     30212  자연    원은비  경민대학교          호텔조리과                          합         7.3    수시1차     교과
경기     30212  자연    원은비  대림대학교          제과제빵과                          불         7.3    수시1차     종합
경기     30212  자연    원은비  대림대학교          호텔조리과                          불         7.3    수시1차     교과
경기     30212  예체능  원은비  두원공과대학교      제과제빵과                          합         7.3    수시1차     교과
경기     30212  예체능  원은비  두원공과대학교      호텔조리과                          합         7.3    수시1차     교과
경기     30212  인문    원은비  신안산대학교        카페바리스타과                      합         7.3    수시1차     교과
경기     30212  예체능  원은비  부천대학교          호텔외식조리학과                    불         7.3    수시1차     종합
경기     30212  예체능  원은비  신안산대학교        호텔제과제빵과                      합         7.3    수시1차     교과
경기     30212  예체능  원은비  신안산대학교        호텔제과제빵과                      합         7.3    수시1차     교과
경기     30212  인문    원은비  신안산대학교        카페바리스타과                      합         7.3    수시1차     교과
경기     30212  예체능  원은비  신안산대학교        호텔조리과                          합         7.3    수시1차     교과
경기     30212  예체능  원은비  신안산대학교        호텔조리과                          합         7.3    수시1차     교과
경기     30212  예체능  원은비  유한대학교          카페베이커리전공                    불         7.3    수시1차     교과
서울     30216  인문    이윤서  명지전문대학        중국어비즈니스과                    합         6.538  수시1차     교과
서울     30216  자연    이윤서  배화여자대학교      스마트IT학과                        합         6.538  수시1차     교과
서울     30217  예체능  이채민  인덕대학교          웹툰만화학과                        불         4.885  수시1차     실기
경기     30217  예체능  이채민  청강문화산업대학교  애니메이션전공                      불         4.885  수시1차     실기
서울     30217  예체능  이채민  인덕대학교          웹툰만화학과                        불         4.885  수시2차     실기
경기     30217  예체능  이채민  청강문화산업대학교  융합콘텐츠창작전공                  불         4.885  수시2차     실기
서울     30222  인문    함윤슬  한양여자대학교      서비스경영과                        합         6.308  수시1차     교과
서울     30222  인문    함윤슬  한양여자대학교      실무중국어과                        합         6.308  수시1차     교과
서울     30222  인문    함윤슬  명지전문대학        공공행정서비스상담과                합         6.308  수시1차     교과
경북     30301  자연    권하남  안동과학대학교      간호학과                            합         5.832  수시2차     교과
경기     30301  자연    권하남  서영대학교          간호학과                            합         5.832  수시2차     교과
광주     30301  자연    권하남  동강대학교          간호학과                            합         5.832  수시2차     교과
광주     30301  자연    권하남  조선간호대학교      간호학과                            합         5.832  수시2차     교과
전북     30301  자연    권하남  군산간호대학교      간호학과                            합         5.832  수시2차     교과
충북     30301  자연    권하남  대원대학교          간호학과                            합         5.832  수시2차     교과
서울     30302  자연    권하진  한양여자대학교      항공과                              합         4.721  수시1차     종합
경기     30302  자연    권하진  장안대학교          항공관광과                          합         4.721  수시1차     종합
경기     30302  인문    권하진  연성대학교          항공서비스과                        합         4.721  수시1차     종합
인천     30302  예체능  권하진  경인여자대학교      뷰티디자인학과 뷰티케어전공         합         4.721  수시1차     교과
인천     30302  인문    권하진  인하공업전문대학    항공운항과                          합         4.721  수시1차     종합
경기     30302  자연    권하진  부천대학교          항공서비스과                        합         4.721  수시1차     종합
서울     30303  자연    기유민  서울여자간호대학교  간호학과                            합         3.533  수시2차     교과
서울     30303  자연    기유민  삼육보건대학교      간호학과                            합         3.533  수시2차     교과
서울     30303  자연    기유민  서일대학교          간호학과                            합         3.533  수시2차     교과
서울     30304  자연    김경미  명지전문대학        산업경영공학과                      합         5.718  수시2차     교과
서울     30304  예체능  김경미  한양여자대학교      니트패션디자인과                    불         5.718  수시2차     교과
서울     30304  인문    김경미  동양미래대학교      호텔관광학과                        불         5.718  수시2차     교과
서울     30304  인문    김경미  배화여자대학교      글로벌커뮤니케이션과 영어전공       불         5.718  수시2차     교과
서울     30304  예체능  김경미  숭의여자대학교      패션디자인과                        합         5.718  수시2차     교과
서울     30305  자연    김서경  서울여자간호대학교  간호학과                            합         2.944  수시2차     교과
경기     30309  인문    김지원  대림대학교          도서관미디어정보과                  합         5.009  수시2차     교과
서울     30309  예체능  김지원  백석예술대학교      공연예술학부(극작)                  불         5.009  수시1차     종합
서울     30309  인문    김지원  숭의여자대학교      문헌정보과                          합         5.009  수시2차     교과
서울     30309  예체능  김지원  한양여자대학교      문예창작과                          불         5.009  수시2차     실기
서울     30312  예체능  박소윤  명지전문대학        뷰티매니지먼트과(뷰티스킨케어전공)  합         4.25   수시2차     교과
경기     30312  자연    박소윤  연성대학교          치기공과                            합         4.25   수시2차     교과
경기     30312  예체능  박소윤  연성대학교          반려동물보건과                      합         4.25   수시2차     교과
서울     30315  예체능  신예린  백석예술대학교      공연예술학부(뮤지컬)                합         5.364  수시1차     종합
서울     30315  예체능  신예린  명지전문대학        연극영상학과                        합         5.364  수시1차     실기
서울     30315  예체능  신예린  서일대학교          영화방송공연예술학과(연기예술전공)  불         5.364  수시1차     실기
경기     30315  예체능  신예린  동아방송예술대학교  방송영화연기과                      불         5.364  수시1차     실기
경기     30315  예체능  신예린  서울예술대학교      연기                                불         5.364  수시1차     실기
경기     30316  자연    안세빈  경복대학교          간호학과                            합         4.589  수시2차     교과
경기     30316  자연    안세빈  수원여자대학교      간호학과                            불         4.589  수시2차     교과
경기     30316  자연    안세빈  경민대학교          간호학과                            불         4.589  수시2차     교과
경기     30316  자연    안세빈  동남보건대학교      간호학과                            불         4.589  수시2차     교과
경기     30316  자연    안세빈  서정대학교          간호학과                            합         4.589  수시2차     종합
서울     30318  예체능  이송희  한양여자대학교      문예창작과                          불         6.423  수시2차     실기
경기     30318  예체능  이송희  서울예술대학교      디지털아트                          불         6.423  수시1차     실기
경기     30319  예체능  이지민  서울예술대학교      실용음악                            불         4.673  수시1차     실기
서울     30319  예체능  이지민  백석예술대학교      실용음악(뮤직테크놀로지)            불         4.673  수시1차     종합
서울     30319  예체능  이지민  국제예술대학교      프로듀싱                            불         4.673  수시1차     실기
서울     30319  공통    이지민  정화예술대학교      뮤직테크놀로지전공                  불         4.673  수시2차     종합
서울     30322  자연    황혜정  서울여자간호대학교  간호학과                            불         3.935  수시1차     종합
서울     30323  자연    엄세은  삼육보건대학교      치위생과                            불         6.636  수시1차     교과
서울     30323  인문    엄세은  인덕대학교          비즈니스일본어과                    불         6.636  수시1차     교과
서울     30323  인문    엄세은  한양여자대학교      실무일본어과                        불         6.636  수시1차     교과
경기     30323  자연    엄세은  수원과학대학교      치위생과                            합         6.636  수시1차     교과
서울     30323  자연    엄세은  숭의여자대학교      보건행정과                          불         6.636  수시2차     교과
경기     30323  자연    엄세은  동남보건대학교      치기공학과                          불         6.636  수시1차     교과
서울     30323  인문    엄세은  서일대학교          세무회계학과                        불         6.636  수시2차     교과
서울     30401  자연    곽지환  명지전문대학        토목공학과                          합         7.02   수시1차     교과
서울     30401  자연    곽지환  동양미래대학교      컴퓨터소프트웨어공학과              불         7.02   수시1차     교과
서울     30401  자연    곽지환  인덕대학교          토목공학과                          합         7.02   수시1차     교과
서울     30409  인문    송민혁  명지전문대학        공공행정서비스상담과                합         5.317  수시1차     교과
서울     30410  자연    시유준  명지전문대학        토목공학과                          합         5.853  수시1차     교과
서울     30410  자연    시유준  동양미래대학교      건축과                              합         5.853  수시1차     교과
서울     30419  자연    조종원  명지전문대학        정보통신공학과                      합         5.564  수시1차     교과
서울     30419  자연    조종원  동양미래대학교      컴퓨터정보공학과                    합         5.564  수시1차     교과
경기     30419  자연    조종원  부천대학교          컴퓨터정보보안학과                  합         5.564  수시1차     교과
전남     30422  자연    홍동혁  전남과학대학교      물리치료과                          합         5.429  수시1차     교과
전남     30422  자연    홍동혁  광양보건대학교      물리치료과                          합         5.429  수시1차     교과
광주     30422  자연    홍동혁  광주보건대학교      물리치료학과(3년)                   합         5.429  수시1차     교과
광주     30422  자연    홍동혁  서영대학교          물리치료과                          합         5.429  수시1차     교과
전북     30422  자연    홍동혁  원광보건대학교      물리치료과                          불         5.429  수시1차     교과
경기     30423  예체능  김형준  유한대학교          스포츠재활전공                      불         6.457  수시1차     교과
경기     30423  예체능  김형준  부천대학교          재활스포츠과                        불         6.457  수시1차     종합
서울     30501  예체능  강민성  명지전문대학        디지털콘텐츠융합과                  합         4.091  수시1차     종합
서울     30501  자연    강민성  인덕대학교          방송영상미디어학과                  합         4.091  수시1차     교과
경기     30504  예체능  김웅비  서울예술대학교      문예창작                            불         4.129  수시1차     실기
서울     30504  인문    김웅비  서일대학교          비즈니스중국어과                    불         4.129  수시1차     교과
서울     30510  인문    박재준  서일대학교          비즈니스중국어과                    불         7.694  수시1차     교과
서울     30510  인문    박재준  서일대학교          사회복지학과                        불         7.694  수시1차     교과
서울     30510  인문    박재준  인덕대학교          비즈니스중국어학과                  불         7.694  수시1차     교과
서울     30510  인문    박재준  인덕대학교          사회복지학과                        합         7.694  수시1차     교과
경기     30510  인문    박재준  부천대학교          사회복지학과                        불         7.694  수시1차     교과
경기     30605  자연    박기범  안산대학교          임상병리학과                        합         4.869  수시1차     종합
대전     30605  자연    박기범  대전보건대학교      임상병리과                          합         4.869  수시1차     교과
경기     30605  자연    박기범  서영대학교          임상병리과                          합         4.869  수시1차     교과
경기     30610  예체능  이승건  오산대학교          반려동물관리과                      불         6.845  수시1차     교과
경기     30610  예체능  이승건  국제대학교          반려동물학과                        불         6.845  수시2차     교과
경기     30610  예체능  이승건  국제대학교          반려동물학과                        불         6.845  수시1차     교과
경기     30610  자연    이승건  동원대학교          반려동물과                          불         6.845  수시2차     교과
경기     30610  자연    이승건  동원대학교          반려동물과                          불         6.845  수시1차     교과
경기     30610  예체능  이승건  부천대학교          반려동물과                          불         6.845  수시1차     교과
경기     30610  예체능  이승건  서정대학교          반려동물과                          불         6.845  수시2차     종합
경기     30610  예체능  이승건  오산대학교          반려동물관리과                      불         6.845  수시2차     교과
경기     30610  자연    이승건  신구대학교          반려동물과                          불         6.845  수시2차     교과
경기     30610  예체능  이승건  서정대학교          반려동물과                          불         6.845  수시1차     종합
대전     30610  예체능  이승건  대전보건대학교      펫토탈케어과                        합         6.845  수시1차     교과
충남     30610  자연    이승건  연암대학교          동물보호계열                        불         6.845  수시2차     교과
서울     30611  인문    이준휘  동양미래대학교      세무회계학과                        합         5.519  수시1차     교과
서울     30611  인문    이준휘  서일대학교          세무회계학과                        합         5.519  수시1차     교과
서울     30611  인문    이준휘  인덕대학교          세무회계학과                        합         5.519  수시1차     교과
서울     30612  자연    이호진  동양미래대학교      소방안전관리과                      합         5.204  수시1차     교과
서울     30616  자연    정성욱  인덕대학교          기계공학과                          합         7.596  수시1차     교과
경기     30616  자연    정성욱  경기과학기술대학교  미래전기자동차과                    합         7.596  수시2차     교과
경기     30616  자연    정성욱  경민대학교          건축공간디자인과                    합         7.596  수시2차     교과
경기     30616  자연    정성욱  경민대학교          스마트인테리어과                    합         7.596  수시2차     교과
경기     30616  자연    정성욱  대림대학교          기계공학과                          합         7.596  수시2차     교과
경기     30616  자연    정성욱  오산대학교          기계과                              합         7.596  수시2차     교과
서울     30620  자연    현경서  한국폴리텍1대학     지능형에너지설비                    합         4.67   수시1차     교과
경기     30620  자연    현경서  유한대학교          작업치료과                          불         4.67   수시1차     교과
서울     30620  자연    현경서  동양미래대학교      생명화학공학과                      불         4.67   수시1차     교과
서울     30620  자연    현경서  서일대학교          생명화학공학과                      합         4.67   수시1차     교과
서울     30620  자연    현경서  서일대학교          소프트웨어공학과                    불         4.67   수시1차     교과
서울     30620  자연    현경서  인덕대학교          컴퓨터소프트웨어학과                불         4.67   수시1차     교과
인천     30620  자연    현경서  인하공업전문대학    재료공학과                          합         4.67   수시1차     교과
강원     30620  자연    현경서  강릉영동대학교      AI메타버스과                        합         4.67   수시1차     교과
경기     30620  자연    현경서  대림대학교          반도체학과                          합         4.67   수시1차     교과
경기     30620  자연    현경서  대림대학교          소방안전설비과                      불         4.67   수시1차     종합
서울     30623  자연    유혜성  서일대학교          IoT전자공학과                       불         7.95   수시2차     교과
서울     30623  인문    유혜성  인덕대학교          비즈니스중국어학과                  불         7.95   수시2차     교과
경기     30623  인문    유혜성  경복대학교          호텔관광과                          불         7.95   수시2차     교과
경기     30623  인문    유혜성  장안대학교          호텔경영과                          불         7.95   수시2차     교과
충남     30623  인문    유혜성  백석문화대학교      호텔경영관광학부                    합         7.95   수시2차     교과
경기     30623  인문    유혜성  여주대학교          호텔관광과                          불         7.95   수시2차     교과
경기     30623  인문    유혜성  부천대학교          호텔관광경영학과                    불         7.95   수시2차     교과
경기     30623  자연    유혜성  신안산대학교        전기공학과                          불         7.95   수시2차     교과
서울     30219  예체능  전유지  명지전문대학        사회체육과                          합         5.846  정시1차     실기
전북     30319  예체능  이지민  백제예술대학교      실용음악과                          합         4.673  정시1차     실기
경기     30604  예체능  김준건  계원예술대학교      시각디자인과                        불         6.54   정시1차     실기
********************************************************************

In [ ]:
# 지원횟수가 궁금한 대학

import pandas as pd

## 데이터 불러오기
path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')

uni = input("지원횟수가 궁금한 대학: ")

# 대학명에 입력한 문자열이 포함된 행들을 찾기
df_uni = df[df['대학'].str.contains(uni, regex=False)]
df_uni = df_uni[['이름', '대학', '모집단위', '최종', '전과목', '전형분류']]


#전과목 열의 값을 소수점 둘째 자리에서 반올림하기
df_uni['전과목'] = df_uni['전과목'].round(1)


#지원건수 세기
df_uni_len = len(df_uni)


# Convert DataFrame to a list of lists for tabulate
table_data = df_uni.values.tolist()


# Define the table headers
table_headers = ['이름', '대학', '모집단위', '최종', '전과목', '전형분류']


# Create the formatted table using tabulate
table_string = tabulate(table_data, headers=table_headers, tablefmt='plain')


print(f'{uni}에 지원한 횟수는 {df_uni_len}회')
print('----------------------------------------')
print(f'{uni} 지원명단')
print(table_string)
#print(df_uni)

In [ ]:
df.groupby('지역').size()

지역
강원     15
경기    288
경북      7
광주      9
대구      1
대전     12
부산      2
서울    350
세종      3
인천     22
전남      4
전북     13
충남     32
충북     14
dtype: int64

In [20]:
#수도권과 지방 동시 합격자 검산법

import pandas as pd
from tabulate import tabulate

# 데이터 파일 경로 설정
path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



# 4년제 합격자 필터링: 최종 합격, '대학교' 포함, '대학'제외
fouryear_df = df[(df['최종'] == '합') & (~df['대학'].str.contains("대학교")) & (~df['대학'].str.contains("대학"))]

# 필요한 변수(열)만 불러옴
columns_needed = ['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']
fouryear_df = fouryear_df[columns_needed]

# 수도권 정의
seoul_area = ['서울', '경기', '인천']

# 수도권 대학 합격자 필터링
seoul_df = fouryear_df[fouryear_df['지역'].isin(seoul_area)]
local_df = fouryear_df[~fouryear_df['지역'].isin(seoul_area)]

# 중복 제외한 합격자 명단
seoul_students = seoul_df.drop_duplicates('이름')
local_students = local_df.drop_duplicates('이름')

# 수도권만 합격한 자
only_seoul = seoul_students[~seoul_students['이름'].isin(local_students['이름'])]
num_only_seoul = len(only_seoul)

# 지방만 합격한 자
only_local = local_students[~local_students['이름'].isin(seoul_students['이름'])]
num_only_local = len(only_local)


# 수도권과 지방 모두 합격한 자
both_seoul_local = seoul_students[seoul_students['이름'].isin(local_students['이름'])]
num_both_seoul_local = len(both_seoul_local)

# 각각의 합격 건수 (중복 포함)
count_only_seoul = len(seoul_df[seoul_df['이름'].isin(only_seoul['이름'])])
count_only_local = len(local_df[local_df['이름'].isin(only_local['이름'])])
count_both_seoul_local = len(seoul_df[seoul_df['이름'].isin(both_seoul_local['이름'])]) + len(local_df[local_df['이름'].isin(both_seoul_local['이름'])])

# 결과 출력
print(f"4년제 수도권만 합격한 자의 수: {num_only_seoul}명, 합격 건수: {count_only_seoul}건")
print(f"4년제 지방만 합격한 자의 수: {num_only_local}명, 합격 건수: {count_only_local}건")
print(f"4년제 수도권과 지방 모두 합격한 자의 수: {num_both_seoul_local}명, 합격 건수: {count_both_seoul_local}건")

# 모든 4년제 합격자
all_fouryear_pass = fouryear_df.drop_duplicates('이름')
num_all_fouryear_pass = len(all_fouryear_pass)

# 졸업생 수 설정
numofgraduate = 147

# 졸업생 대비 4년제 합격률 계산
fouryear_df_passrate = (num_all_fouryear_pass / numofgraduate) * 100
fouryear_df_passrate = int(fouryear_df_passrate)

# 결과 출력
print(f"2024학년도 E고 4년제 합격자수는 {num_all_fouryear_pass}명입니다. (중복제외)")
print(f"2024학년도 E고 4년제 졸업생 대비 합격률은 {fouryear_df_passrate}%입니다.")

# tabulate를 사용하여 결과 출력
print(tabulate(fouryear_df, headers='keys', tablefmt='plain', showindex=False))
print("********************************************************************")

4년제 수도권만 합격한 자의 수: 57명, 합격 건수: 104건
4년제 지방만 합격한 자의 수: 11명, 합격 건수: 23건
4년제 수도권과 지방 모두 합격한 자의 수: 7명, 합격 건수: 19건
2024학년도 E고 4년제 합격자수는 75명입니다. (중복제외)
2024학년도 E고 4년제 졸업생 대비 합격률은 51%입니다.
지역      학번  계열    이름    대학              모집단위                        최종      전과목  지원시기    전형분류
경기     30101  인문    김가영  안양대            행정학과(야)                    합         4.236  수시        교과
서울     30102  자연    김나윤  국민대            식품영양학과                    합         3.554  수시        종합
서울     30102  자연    김나윤  동덕여대          식품영양학전공                  합         3.554  수시        종합
서울     30102  자연    김나윤  상명대            외식의류학부(식품영양학전공)    합         3.554  수시        종합
서울     30102  자연    김나윤  성신여대          바이오식품공학과                합         3.554  수시        종합
경기     30105  예체능  김민지  경동대(양주)      스포츠마케팅학과                합         4.779  수시        교과
경기     30105  인문    김민지  신한대(의정부)    글로벌무역학과                  합         4.779  수시        교과
경기     30105  인문    김민지  안양대            글로벌경영학과(야)              합         4.779  수시        교과
서울     30107  자연    김유리  동덕여대          약학과                          합         1.125  수시        교과
경북     30107  자연    김유리  대구가톨릭대      의예과                          합         1.125  수시        교과
인천     30110  예체능  박지민  인하대            의류디자인학과(실기)            합         3.337  수시        실기
서울     30111  예체능  박지은  성신여대          디자인과                        합         2.755  수시        실기
서울     30112  자연    서수연  덕성여대          과학기술대학                    합         2.606  수시        교과
서울     30113  자연    성정헌  한성대            IT공과대학                      합         3.154  수시        교과
서울     30117  자연    윤벼리  이화여대          기후에너지시스템공학과(자연)    합         1.683  수시        교과
서울     30117  자연    윤벼리  중앙대            공과대학                        합         1.683  수시        교과
경기     30118  인문    이예진  경동대(양주)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  신한대(의정부)    유아교육과                      합         4.865  수시        종합
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30118  인문    이예진  중부대(고양)      유아교육과                      합         4.865  수시        교과
경기     30120  자연    이지혜  신한대(의정부)    치기공학과                      합         4.561  수시        교과
경기     30120  자연    이지혜  중부대(고양)      정보보호학전공                  합         4.561  수시        교과
서울     30121  자연    조하민  세종대            생명시스템학부                  합         1.76   수시        교과
경기     30122  인문    한유정  안양대            글로벌경영학과                  합         4.173  수시        교과
경기     30122  인문    한유정  중부대(고양)      경영학전공                      합         4.173  수시        교과
서울     30123  자연    한해빈  한성대            AI응용학과                      합         3.75   수시        교과
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        실기
경기     30201  예체능  김민주  예원예술대(양주)  만화게임영상전공                합         6.227  수시        교과
경기     30201  자연    김민주  중부대(고양)      게임소프트웨어전공              합         6.227  수시        교과
세종     30202  자연    김서현  홍익대(세종)      기계정보공학과                  합         4.5    수시        교과
서울     30205  인문    박다인  삼육대            영어영문학과                    합         4.082  수시        종합
서울     30205  인문    박다인  강서대            사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    사회복지학과                    합         4.082  수시        교과
경기     30205  인문    박다인  신한대(의정부)    유아교육과                      합         4.082  수시        교과
경기     30206  인문    박윤    중부대(고양)      공공안전학전공                  합         4.9    수시        교과
서울     30207  인문    박지빈  강서대            사회복지학과                    합         3.991  수시        교과
경기     30207  인문    박지빈  신한대(의정부)    사회복지학과                    합         3.991  수시        교과
경기     30208  인문    송은영  중부대(고양)      공공안전학전공                  합         5      수시        교과
경기     30208  인문    송은영  한신대            철학                            합         5      수시        종합
경기     30209  인문    오서희  경동대(양주)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      유아교육과                      합         4.832  수시        교과
경기     30209  인문    오서희  중부대(고양)      특수교육과(유아특수교육)        합         4.832  수시        교과
서울     30214  인문    이서윤  성신여대          법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  국민대            법학부                          합         2.036  수시        교과
서울     30214  인문    이서윤  중앙대            유아교육과                      합         2.036  수시        교과
경기     30217  인문    이채민  중부대(고양)      미디어커뮤니케이션학전공        합         4.885  수시        교과
서울     30220  예체능  전하영  세종대            영화예술학과(연출제작전공)      합         4.654  수시        실기
서울     30221  인문    지성윤  덕성여대          글로벌융합대학(인문사회)        합         3.065  수시        교과
서울     30221  인문    지성윤  상명대            공간환경학부                    합         3.065  수시        종합
서울     30221  인문    지성윤  서울여대          패션산업학과                    합         3.065  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
경기     30222  자연    함윤슬  중부대(고양)      토목공학전공                    합         6.308  수시        교과
충남     30303  자연    기유민  청운대(홍성)      간호학과                        합         3.533  수시        교과
서울     30303  자연    기유민  강서대            간호학과                        합         3.533  수시        교과
충북     30303  자연    기유민  청주대            간호학과                        합         3.533  수시        교과
경기     30306  인문    김시연  신한대(의정부)    국제개발협력학과                합         4.894  수시        교과
경기     30307  예체능  김시은  예원예술대(양주)  귀금속보석디자인전공            합         7.308  수시        실기
강원     30307  예체능  김시은  강원대(삼척)      생활조형디자인학과              합         7.308  수시        실기
충남     30307  예체능  김시은  세한대(당진)      AI콘텐츠디자인학과              합         7.308  수시        실기
서울     30310  인문    김지후  동국대            국어국문문예창작학부            합         3.478  수시        실기
서울     30310  예체능  김지후  세종대            영화예술학과(연출제작전공)      합         3.478  수시        실기
경기     30311  인문    김채린  안양대            러시아언어문화학과              합         3.663  수시        교과
서울     30313  자연    박소정  한국성서대        컴퓨터소프트웨어학과            합         4.178  수시        교과
경기     30313  인문    박소정  중부대(고양)      엔터테인먼트학전공              합         4.178  수시        교과
경기     30313  공통    박소정  차의과학대        미래융합대학                    합         4.178  수시        교과
서울     30314  자연    송은재  세종대            소프트웨어학과                  합         2.087  수시        교과
경기     30315  예체능  신예린  중부대(고양)      연극영화학전공(연기)            합         5.364  수시        실기
경기     30315  예체능  신예린  신한대(의정부)    공연예술학과(연기)              합         5.364  수시        실기
강원     30316  자연    안세빈  경동대(원주문막)  간호학과                        합         4.589  수시        교과
경기     30317  자연    유민서  신한대(의정부)    에너지공학과                    합         4.01   수시        교과
경기     30317  자연    유민서  을지대(성남)      바이오공학부                    합         4.01   수시        종합
경기     30320  자연    조유리  용인대            산업환경보건학과                합         3.785  수시        교과
경기     30321  인문    추지원  신한대(의정부)    행정학과                        합         4.378  수시        교과
경기     30321  인문    추지원  중부대(고양)      엔터테인먼트학전공              합         4.378  수시        교과
강원     30322  자연    황혜정  경동대(원주문막)  간호학과                        합         3.935  수시        교과
경기     30402  인문    김도건  강남대            사회복지학부                    합         3.963  수시        종합
서울     30403  자연    김동준  동국대            기계로봇에너지공학과            합         2.231  수시        교과
서울     30403  자연    김동준  숭실대            기계공학부                      합         2.231  수시        교과
경기     30405  자연    김하윤  중부대(고양)      토목공학전공                    합         4.684  수시        교과
서울     30407  자연    박준우  국민대            건설시스템공학부                합         2.388  수시        교과
서울     30407  자연    박준우  상명대            생명화학공학부(화공신소재전공)  합         2.388  수시        교과
서울     30407  자연    박준우  숭실대            건축학부(건축학,건축공학전공)   합         2.388  수시        교과
경기     30409  인문    송민혁  경동대(양주)      행정학과                        합         5.317  수시        교과
경기     30409  인문    송민혁  중부대(고양)      국제통상학전공                  합         5.317  수시        교과
서울     30411  인문    양기훈  명지대            경영학과                        합         2.582  수시        교과
서울     30411  인문    양기훈  한성대            사회과학부                      합         2.582  수시        교과
서울     30411  인문    양기훈  상명대            경영학부                        합         2.582  수시        교과
경기     30411  인문    양기훈  한국항공대        경영학과                        합         2.582  수시        교과
경기     30414  자연    이민우  가톨릭대(성심)    에너지환경공학과                합         3.885  수시        종합
인천     30414  자연    이민우  인하대            해양과학과                      합         3.885  수시        종합
부산     30414  자연    이민우  부산대            해양학과                        합         3.885  수시        종합
전북     30418  자연    조예찬  원광대            도시공학과                      합         6.261  수시        교과
경기     30419  자연    조종원  경동대(양주)      컴퓨터공학과                    합         5.564  수시        교과
전북     30419  자연    조종원  원광대            컴퓨터소프트웨어공학과          합         5.564  수시        교과
충남     30419  자연    조종원  호서대(아산)      빅데이터AI학부                  합         5.564  수시        교과
경기     30420  자연    최원석  신한대(의정부)    소프트웨어융합학과              합         4.43   수시        교과
광주     30422  자연    홍동혁  남부대            물리치료학과                    합         5.429  수시        교과
전남     30422  자연    홍동혁  세한대(영암)      물리치료학과                    합         5.429  수시        교과
전남     30422  자연    홍동혁  동신대            방사선학과                      합         5.429  수시        교과
광주     30422  자연    홍동혁  송원대            간호학과                        합         5.429  수시        교과
광주     30422  자연    홍동혁  호남대            임상병리학과                    합         5.429  수시        교과
경기     30501  인문    강민성  중부대(고양)      미디어커뮤니케이션학전공        합         4.091  수시        교과
강원     30502  자연    권지웅  강원대            지질지구물리학부                합         4.933  수시        교과
경기     30505  인문    김태양  경동대(양주)      공공복지정보관리학과            합         5.206  수시        교과
서울     30508  인문    박영준  국민대            한국역사학과                    합         2.283  수시        종합
서울     30508  인문    박영준  숭실대            사학과                          합         2.283  수시        종합
인천     30513  자연    박준한  인천대            신소재공학과                    합         3.061  수시        교과
경기     30515  예체능  범서윤  신한대(의정부)    태권도학부                      합         6.906  수시        실기
강원     30515  예체능  범서윤  상지대            체육학부(태권도학전공)          합         6.906  수시        실기
경기     30517  자연    원영민  가천대(글로벌)    도시계획조경학부                합         2.653  수시        교과
경기     30517  자연    원영민  한국항공대        항공우주공학과                  합         2.653  수시        교과
경기     30520  인문    진승민  신한대(의정부)    글로벌무역학과                  합         5.027  수시        교과
경기     30521  예체능  허태욱  신한대(의정부)    태권도학부                      합         5.99   수시        실기
인천     30522  자연    황호영  인천대            생명과학부(분자의생명전공)      합         2.684  수시        종합
서울     30522  자연    황호영  상명대            지능데이터융합학부              합         2.684  수시        교과
서울     30602  자연    김성민  서울과기대        전기정보공학과                  합         3.286  수시        논술
경기     30602  자연    김성민  경기대            전자공학부                      합         3.286  수시        교과
경기     30603  자연    김승도  신한대(의정부)    미래자동차공학과                합         4.626  수시        교과
경기     30603  자연    김승도  중부대(고양)      스마트모빌리티공학전공          합         4.626  수시        교과
경북     30605  자연    박기범  대구한의대        임상병리학과                    합         4.869  수시        교과
서울     30608  자연    염상민  건국대            화학공학부                      합         1.779  수시        교과
전북     30610  인문    이승건  원광대            경영학과                        합         6.845  수시        교과
강원     30610  자연    이승건  상지대            동물자원학과                    합         6.845  수시        종합
경기     30611  인문    이준휘  신한대(의정부)    토지행정학과                    합         5.519  수시        교과
경기     30611  인문    이준휘  중부대(고양)      경영학전공                      합         5.519  수시        교과
경기     30612  인문    이호진  중부대(고양)      공공안전학전공                  합         5.204  수시        교과
경기     30612  인문    이호진  수원대            경영학부                        합         5.204  수시        교과
충남     30612  자연    이호진  호서대(아산)      소방방재학과                    합         5.204  수시        교과
경기     30613  인문    임예찬  협성대            사회복지학과                    합         3.762  수시        교과
충북     30614  인문    임현민  청주대            국어교육과                      합         5.472  수시        교과
전북     30614  인문    임현민  우석대(전주)      국어교육과                      합         5.472  수시        교과
경북     30614  인문    임현민  대구가톨릭대      국어교육과                      합         5.472  수시        교과
강원     30614  인문    임현민  가톨릭관동대      국어교육과                      합         5.472  수시        교과
서울     30615  인문    정낙용  강서대            사회복지학과                    합         3.396  수시        교과
경기     30615  인문    정낙용  중부대(고양)      경영학전공                      합         3.396  수시        교과
경기     30616  자연    정성욱  중부대(고양)      토목공학전공                    합         7.596  수시        교과
충북     30618  자연    최민하  한국교통대(충주)  전기공학과                      합         3.5    수시        교과
경기     30619  자연    최승현  중부대(고양)      전기전자공학전공                합         5.062  수시        교과
서울     30619  자연    최승현  한국성서대        컴퓨터소프트웨어학과            합         5.062  수시        교과
서울     30619  인문    최승현  강서대            신학과                          합         5.062  수시        교과
대전     30621  자연    류재형  목원대            도시공학과                      합         6.173  수시        교과
대전     30621  자연    류재형  배재대            조경학과                        합         6.173  수시        교과
전북     30621  자연    류재형  원광대            도시공학과                      합         6.173  수시        교과
충남     30621  자연    류재형  호서대(아산)      환경공학과                      합         6.173  수시        교과
충북     30621  자연    류재형  청주대            환경공학과                      합         6.173  수시        교과
서울     30308  인문    김재희  숙명여대          홍보광고학과                    합         2.518  가          수능
********************************************************************