<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%ED%99%8D%EB%B3%B4%EC%9E%90%EB%A3%8C%ED%86%B5%EA%B3%84_%EC%9D%80%ED%8F%89%EA%B3%A02024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1~4번 은평고 홍보 브로셔 통계
###1. 4년제 합격자
###2. 수도권 합격자
###3. 전문대 합격자
###4. 인서울 4년제 합격자
###5. 4년제 지방(비수도권) 합격자

In [ ]:
#colab에서 matplotlib와 sns 라이브러리 그래프 한글을 깨지지 않게 하는 법A: 이 코드실행하고 런타임(runtime) 다시 실행하기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 1s (10.2 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 121925 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
from tabulate import tabulate
import matplotlib.pyplot as plt



##  데이터 부르기
path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


# 첫 5줄을 봅니다.
df.tail(2)

In [ ]:
#matplotlib에서 한글구현
plt.rc('font', family='NanumBarunGothic')

#그래프 마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
#수능 응시자: 113명

df_number = df.drop_duplicates('이름')
df_number = len(df_number)
print(df_number)

113

In [21]:
#1. 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



#3개 대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']


#지역, 최종, ace대학 제외
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
#print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))
#print("********************************************************************")

2024학년도  E고 4년제 합격건수는 146건입니다.(중복합격 포함)
2024학년도  E고 4년제 합격자수는 75명입니다.(중복제외)
2024학년도  E고 4년제 졸업생 대비 합격률은 51%입니다.(중복포함)

In [22]:
#16. 수도권(서울, 경기, 인천) 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


#수도권 지역 설정
area = ['서울', '경기', '인천']


#3개 대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']



#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]


seoul_df = seoul_df[seoul_df['지역'].isin(area)]


#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 수도권대 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제 수도권대 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 수도권대 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
#print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))



#데이터 프레임으로 전환
seoul_df_p = pd.DataFrame(seoul_df)


#결과를 엑셀로 저장
path = '/content/drive/MyDrive/python/eunpyeong/result_habbul/'
seoul_df_p.to_excel(excel_writer= f'{path}수도권4년제합격자_2024_은평고.xlsx')

2024학년도  E고 4년제 수도권대 합격건수는 113건입니다.(중복합격 포함)
2024학년도  E고 4년제 수도권대 합격자수는 64명입니다.(중복제외)
2024학년도  E고 4년제 수도권대 졸업생 대비 합격률은 43%입니다.(중복포함)

In [23]:
#18. 인서울 4년제 합격자 명단


from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


#서울
area = ['서울']



#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.str.contains("대학"))]


#인서울로 제한
seoul_df = seoul_df[seoul_df['지역'].isin(area)]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 인서울 4년제 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 인서울 4년제 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 인서울 4년제 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
#print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))

2024학년도  E고 인서울 4년제 합격건수는 44건입니다.(중복합격 포함)
2024학년도  E고 인서울 4년제 합격자수는 27명입니다.(중복제외)
2024학년도  E고 인서울 4년제 졸업생 대비 합격률은 18%입니다.(중복포함)

In [24]:
#19. 지방 4년제 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')


area = ['서울', '경기', '인천']


#3개 전문대학 제외:
twoyear = ['명지전문대학', '인하공업전문대학', '한국폴리텍1대학', '한국폴리텍2대학']


#합격자, 전문대 제외, 3개 전문대제외(명지, 인하, 폴리텍)
seoul_df = df[(df.최종 == '합') & ~(df.대학.str.contains("대학교")) & ~(df.대학.isin(twoyear))]


#서울지역 제외
seoul_df = seoul_df[~seoul_df['지역'].isin(area)]


#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)


#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 4년제 지방 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 4년제  지방 합격자수는 {seoul_df_person}명입니다.(중복제외)")


print(f"2024학년도  E고 4년제 지방 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
#print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))

2024학년도  E고 4년제 지방 합격건수는 33건입니다.(중복합격 포함)
2024학년도  E고 4년제  지방 합격자수는 18명입니다.(중복제외)
2024학년도  E고 4년제 지방 졸업생 대비 합격률은 12%입니다.(중복포함)

In [25]:
#17. 전문대 합격자 명단

from tabulate import tabulate

path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



#합격, 대학(ex: 명지전문대학), 대학교(ex: 서일대학교)
seoul_df = df[(df.최종 == '합') & (df.대학.str.contains("대학")) | (df.대학.str.contains("대학교"))]



#4년제 합격건수(중복포함)
seoul_df_freq = len(seoul_df)



#필요한 변수(열)만 불러옴
seoul_df = seoul_df[['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']]



#중복제외한 합격자수
seoul_df_person = seoul_df.drop_duplicates('이름')
seoul_df_person = len(seoul_df_person)



#졸업생대비 4년제 합격률 = 4년제 합격자 / 졸업생수(147)
numofgraduate = 147
seoul_df_fouryearpass = (seoul_df_person / numofgraduate) *100
seoul_df_fouryearpass = int(seoul_df_fouryearpass)



#합격자수
print("2024학년도  E고 전문대 합격건수는 %d건입니다.(중복합격 포함)" % len(seoul_df))

print(f"2024학년도  E고 전문대 합격자수는 {seoul_df_person}명입니다.(중복제외)")

print(f"2024학년도  E고 전문대 졸업생 대비 합격률은 {seoul_df_fouryearpass}%입니다.(중복포함)")

# tabulate를 사용하여 결과 출력
#print(tabulate(seoul_df, headers='keys', tablefmt='plain', showindex=False))

2024학년도  E고 전문대 합격건수는 197건입니다.(중복합격 포함)
2024학년도  E고 전문대 합격자수는 45명입니다.(중복제외)
2024학년도  E고 전문대 졸업생 대비 합격률은 30%입니다.(중복포함)

In [ ]:
df.groupby('지역').size()

지역
강원     15
경기    288
경북      7
광주      9
대구      1
대전     12
부산      2
서울    350
세종      3
인천     22
전남      4
전북     13
충남     32
충북     14
dtype: int64

In [26]:
#수도권과 지방 동시 합격자 검산법

import pandas as pd
from tabulate import tabulate

# 데이터 파일 경로 설정
path = '/content/drive/MyDrive/python/habbul/'
df = pd.read_excel(f'{path}eunpyeong_2024_habbul.xlsx')



# 4년제 합격자 필터링: 최종 합격, '대학교' 포함, '대학'제외
fouryear_df = df[(df['최종'] == '합') & (~df['대학'].str.contains("대학교")) & (~df['대학'].str.contains("대학"))]

# 필요한 변수(열)만 불러옴
columns_needed = ['지역', '학번', '계열', '이름', '대학', '모집단위', '최종', '전과목', '지원시기', '전형분류']
fouryear_df = fouryear_df[columns_needed]

# 수도권 정의
seoul_area = ['서울', '경기', '인천']

# 수도권 대학 합격자 필터링
seoul_df = fouryear_df[fouryear_df['지역'].isin(seoul_area)]
local_df = fouryear_df[~fouryear_df['지역'].isin(seoul_area)]

# 중복 제외한 합격자 명단
seoul_students = seoul_df.drop_duplicates('이름')
local_students = local_df.drop_duplicates('이름')

# 수도권만 합격한 자
only_seoul = seoul_students[~seoul_students['이름'].isin(local_students['이름'])]
num_only_seoul = len(only_seoul)

# 지방만 합격한 자
only_local = local_students[~local_students['이름'].isin(seoul_students['이름'])]
num_only_local = len(only_local)


# 수도권과 지방 모두 합격한 자
both_seoul_local = seoul_students[seoul_students['이름'].isin(local_students['이름'])]
num_both_seoul_local = len(both_seoul_local)

# 각각의 합격 건수 (중복 포함)
count_only_seoul = len(seoul_df[seoul_df['이름'].isin(only_seoul['이름'])])
count_only_local = len(local_df[local_df['이름'].isin(only_local['이름'])])
count_both_seoul_local = len(seoul_df[seoul_df['이름'].isin(both_seoul_local['이름'])]) + len(local_df[local_df['이름'].isin(both_seoul_local['이름'])])

# 결과 출력
print(f"4년제 수도권만 합격한 자의 수: {num_only_seoul}명, 합격 건수: {count_only_seoul}건")
print(f"4년제 지방만 합격한 자의 수: {num_only_local}명, 합격 건수: {count_only_local}건")
print(f"4년제 수도권과 지방 모두 합격한 자의 수: {num_both_seoul_local}명, 합격 건수: {count_both_seoul_local}건")

# 모든 4년제 합격자
all_fouryear_pass = fouryear_df.drop_duplicates('이름')
num_all_fouryear_pass = len(all_fouryear_pass)

# 졸업생 수 설정
numofgraduate = 147

# 졸업생 대비 4년제 합격률 계산
fouryear_df_passrate = (num_all_fouryear_pass / numofgraduate) * 100
fouryear_df_passrate = int(fouryear_df_passrate)

# 결과 출력
print(f"2024학년도 E고 4년제 합격자수는 {num_all_fouryear_pass}명입니다. (중복제외)")
print(f"2024학년도 E고 4년제 졸업생 대비 합격률은 {fouryear_df_passrate}%입니다.")

# tabulate를 사용하여 결과 출력
#print(tabulate(fouryear_df, headers='keys', tablefmt='plain', showindex=False))

4년제 수도권만 합격한 자의 수: 57명, 합격 건수: 104건
4년제 지방만 합격한 자의 수: 11명, 합격 건수: 23건
4년제 수도권과 지방 모두 합격한 자의 수: 7명, 합격 건수: 19건
2024학년도 E고 4년제 합격자수는 75명입니다. (중복제외)
2024학년도 E고 4년제 졸업생 대비 합격률은 51%입니다.